[2017-01-09 19:48] pwolaq opened #2 "Removing event listeners"
`bind` every time creates a new function, so removing event listeners like that won't work:
[code]

[2017-01-09 19:51] pwolaq opened #3 "Unnecessary import 'Component'"
Many stateless functional components like `HeaderGroup` have unnecessary import `Component` from `react`

[2017-01-09 19:53] pwolaq opened #4 "Remove .vscode and add to .gitignore"

[2017-01-09 20:02] andrerpena commented on #2
Thanks, I'll look into this

[2017-01-09 20:03] andrerpena commented on #3
Thanks for all the code reviews

[2017-01-09 20:12] pwolaq commented on #3
no problem, I can take care of that one if you wish

[2017-01-09 20:14] andrerpena commented on #3
@pwolaq pull requests are really welcome :D

[2017-01-09 20:40] pwolaq opened #5 "State and props should be assigned to const"
There are few places where `state` or `props` parameters are assigned to `let instead of `const`, for example:
[code]

[2017-01-09 20:42] pwolaq opened #6 "String refs should be replaced with callbacks"

[2017-01-09 20:50] pwolaq opened #7 "Add missing propTypes and defaultProps"

[2017-01-09 23:20] andrerpena commented on #2
@pwolaq can you check if this is the recommended way of solving this problem? https://github.com/andrerpena/react-mde/blob/master/src/components/HeaderItemDropdown.js

Please feel free to reopen this, otherwise. Thank you.

[2017-01-09 23:20] #2 closed

[2017-01-09 23:33] #3 closed

[2017-01-09 23:37] #4 closed

[2017-01-09 23:47] #5 closed

[2017-01-10 07:41] pwolaq commented on #2
I have seen somewhere in the documentation that binding should be done in constructor, checking in `componentWillUnmount` is unnecessary then

I will create PR with few more changes in a moment

[2017-01-10 10:43] #7 closed

[2017-01-10 10:43] #6 closed

[2017-01-10 19:44] pwolaq opened #10 "Avoid mutating function arguments"
There are few places where function arguments are mutated. It's a good practice to avoid such behaviour by creating new variables instead of mutating existing ones.

Example:
[code]

[2017-01-11 00:10] andrerpena commented on #10
I'm not in favor of this either. I'll fix it.

[2017-01-11 02:29] dmr opened #11 "Text is removed on button click if no text selected"
I tried the demo and entered some text and clicked a button and the text I entered disappeared.
What am I doing wrong?

[2017-01-11 03:16] andrerpena commented on #11
Not sure if related but I just fixed a header bug that was introduced this morning.

I just tested everything now, both in the published and local demo and everything looks fine.

In case you experience this error again. Please open the console, print the error (if any) and feel free to reopen it.

I'm closing it because I think it might have been caused by a PR

[2017-01-13 15:52] mawek opened #12 "Hashtag without following space shouldn't be interpreted as header."
It is common to have twitter like tags in text and they shouldn't be interpreted as headers as mentioned [here](https://talk.commonmark.org/t/heading-not-working/819/4)

[2017-01-13 18:06] andrerpena commented on #12
@mawek , thanks for reporting. But this is actually a problem with https://github.com/showdownjs/showdown. The most I can do is to allow for alternative MD parsers.

Another thing I want to do is to allow (optionally) remote rendering of the Preview, like GitHub, in such a way that the markdown you'd be seeing in the preview would be exactly the one generated by your server-side engine.

[2017-01-13 21:02] andrerpena commented on #12
I'm closing this down because there isn't much I can do now. Feel free to reopen if you have an ideia :)

[2017-01-13 21:02] #12 closed

[2017-01-16 10:30] andrerpena opened #13 "Hitting a command twice should undo commands"

[2017-01-16 10:30] andrerpena opened #14 "Implement mentions support"

[2017-01-21 15:02] kasbah opened #15 "Demo toolbar doesn't work with Firefox"
Neat project! The demo is a bit broken on Firefox unfortunately. The buttons on the toolbar simply do nothing whatsoever. The rest of the functionality seems to work fine.

Tested with Firefox 50.1.0 on Ubuntu without any extensions. No errors are reported on the console.

[2017-01-21 17:47] andrerpena commented on #15
Thanks for reporting. I'll check it out.

[2017-01-21 18:05] andrerpena commented on #15
Confirmed

[2017-01-24 05:52] dmr commented on #11
I think I can reproduce now what my usage mistake is: I clicked the "bold" etc buttons without selecting text.
Current behavior: Text is removed.
Expected Behavior: Maybe a standard text is inserted, i.e. "**bold**".

Am I the only one with this problem?

[2017-01-24 12:51] andrerpena commented on #11
It's not a usage mistake @dmr , it's actually broken.  I can't reproduce your problem on Chrome. I know the button bar is broken on firefox and I'll fix it #15. What is your browser and OS?

I'll investigate. I'll probably fix the Firefox issue this week.

[2017-01-25 03:59] dmr commented on #11
macOS 10.12.2 with Chrome Canary (Version 57)

[2017-04-12 07:31] jakub-gawlas commented on #15
Bug is caused by `src/ReactMde.js -> executeCommand -> line 61`
[code]
`insertText` doesn't work proper with textarea on Firefox

maybe someone have a solution?

[2017-04-21 13:30] andrerpena commented on #15
@jakub-gawlas Thank you very much for pinpointing the problem. I don't have a solution right now but I'll try to figure out one.

[2017-04-23 19:23] andrerpena commented on #15
I'm having a really hard time with this bug.

If I replace

    document.execCommand("insertText", false, newValue.text);

with

    textarea.value = newValue.text

It works perfectly on Firefox but now Chrome doesn't preserve the history of the element so Ctrl + Z doesn't work.

I'm rethinking controlling the component state myself, but the last time I tried I ran into other problems :(

[2017-05-11 21:52] andrerpena commented on #15
I'm going to implement my own history-manager for the `textarea`. It's the only way I'm seeing this to work

[2017-08-17 17:13] dmcquayps opened #37 "Can't find on npm"
Is that expected?

[2017-08-17 17:17] dmcquayps commented on #37
Nevermind, I my brain read `react-made` no matter how many times I saw it.

[2017-08-17 17:17] #37 closed

[2017-11-06 13:28] minjaitk opened #43 "Doesn't work with React 16"
Had my project on React 15.6, but when I tried updating to 16, this package broke with
[code]
I believe it's because PropTypes have been moved into a separate package.
Any chance of fixing it any time soon?

[2017-11-07 01:47] GavinKings opened #44 "Can code highlighting be supported"
Can code highlighting be supported？

[2017-11-07 22:26] bloycey opened #45 "Multiple copies of React loaded."
Hi,

Firstly, I can't wait to use this functionality - It looks much simpler and cleaner than the other solutions out there.

Unfortunately I'm currently receiving the following error message:

![multiplereact](https://user-images.githubusercontent.com/20733264/32521130-11c098fc-c45e-11e7-926b-2144cfcc89bf.JPG)

When I check the sources tab it looks like I'm loading React 16 and you've got React 1

[2017-11-11 14:12] pdlipman opened #46 "Header dropdown throws error"
Noticed this when working locally, and tried it out on the demo:

[code]

[2017-11-12 08:22] andrerpena commented on #43
Thanks for reporting.. I'll take a look into it.

[2017-11-12 08:24] andrerpena commented on #45
Thank you very much! I'll take a look into it.

[2017-11-12 08:25] andrerpena commented on #46
Thanks for reporting. I'll take a look.

[2017-11-12 15:08] #46 closed

[2017-11-12 15:10] andrerpena commented on #45
This might have been caused by the fact that I was wrongfully listing `prop-types` 15.6 as a peerDependency. If updating doesn't solve your problem I don't really know what to do :). This are the only peerDependencies now and the project has 0 dependencies

[code]

[2017-11-12 15:10] andrerpena commented on #45
Please, try updating to 1.0.2

[2017-11-12 15:11] andrerpena commented on #43
I just removed prop-types as a peerDependency. Please update to 1.0.2 and tell me if the problem continues

[2017-11-12 15:21] andrerpena commented on #44
I'm definitely not planning to support it natively. However, I'll leave this issue open and take a look at how people are implementing code highlight in Showdown.

Here are some threads about it:

https://github.com/showdownjs/showdown/issues/215
https://github.com/showdownjs/showdown/issues/325

I'll then try to find the best way to let users to hook into the Showdown rendering process from `reac

[2017-11-12 15:23] andrerpena commented on #10
This has been addressed in the new 1.* version

[2017-11-12 15:23] #10 closed

[2017-11-13 11:18] andrerpena commented on #44
If I find a way to let users hook into the Markdown rendering process so you can use `highlight.js`, for instance, I'll add an example to the documentation.

[2017-11-13 11:22] andrerpena commented on #15
Now that I've restarted maintaining this component, I've realized that it still doesn't work on the latest version of Firefox and this is my top 1 priority now.

[2017-11-13 11:26] andrerpena opened #47 "Apparently the prod build is still using the development version of react"
![image](https://user-images.githubusercontent.com/1581429/32723448-a43f59a8-c854-11e7-8b34-2dcf5d33f463.png)

[2017-11-13 15:51] minjaitk commented on #43
it seems that there have been a lot of changes, since I'm getting a lot of errors, and I need to change my code significantly (scss imports no longer work, I need to add showdown to the project, and it worked without it before etc.)
for example,
[code]
is there a list of all the changes?

[2017-11-13 16:12] andrerpena commented on #43
Ohhhh...

@minjaitk I'm so sorry. Because I wasn't maintaining the previous version this project and that I didn't know if many people were using it, I did not write a migration guide. =/

I recommend that you take a look at the Using section of the documentation: https://github.com/andrerpena/react-mde#using and compare with the way you use it.

The 3 major differences are:

- instead of using th

[2017-11-13 16:12] #43 closed

[2017-11-13 18:58] andrerpena commented on #45
I just realized your comment was before I released the latest version. I'm closing it. Feel free to reopen if you continue to experience the problem

[2017-11-13 19:00] #45 closed

[2017-11-14 02:44] andrerpena commented on #15
Really. I couldn't make it to work together with history so I decided to switch problems in favor of a better architecture and a possibly easier problem to solve.

Now the execution of a command will just trigger `onChange` passing whatever the command returned (containing the value and the selection). This is the cleanest/simplest thing to do. It also works on Firefox.

The downside is that now h

[2017-11-14 02:44] #15 closed

[2017-11-15 16:18] michaelryancaputo opened #49 "Error: Warning: Unknown DOM property contenteditable. Did you mean contentEditable?"
Getting the console error `Warning: Unknown DOM property contenteditable. Did you mean contentEditable?`

I took a look at the source code and found this on a textarea element. Not sure it's necssary since textarea is editable by default.

Happy to submit a PR fixing this.

[2017-11-15 20:34] andrerpena commented on #49
Hey @michaelryancaputo , thanks for spotting it. It's a leftover code from my attempt to make `document.insertText()` to work on Firefox. It's useless. I can fix it but a MR would be welcome too :)

[2017-11-15 20:57] michaelryancaputo commented on #49
#50

[2017-11-15 21:32] andrerpena commented on #49
Thank you. Merged. I'll push to NPM later today.

[2017-11-15 21:32] #49 closed

[2017-11-16 01:42] andrerpena opened #51 "Make the HTML preview to be passed along with the value in the onChange event"

[2017-11-16 02:30] greenkeeper[bot] opened #52 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-11-16 15:16] ihaichao opened #53 "How to use react-mde with typescript"
[code]
The above code runs with error as below:
`warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.`

react: 16.1.0
react-mde: 1.0.3

[2017-11-16 18:53] daanishnasir commented on #53
``
import React, { Component } from 'react';
import ReactMde, { ReactMdeCommands } from 'react-mde';     //needs to be direct source to file
import Showdown from "showdown";

import 'react-mde/lib/styles/css/react-mde.css';
import 'react-mde/lib/styles/css/react-mde-command-styles.css';
import 'react-mde/lib/styles/css/markdown-default-theme.css';

export default class MarkdownEditor extends Compo

[2017-11-16 22:45] daanishnasir opened #54 "Is there a new normal react JSX version of this; not typescript?"
Trying to get this working on a big project i'm working on where I don't have any ts files.

[2017-11-17 14:16] AkvoAnt opened #55 "React markdown feature added to qualitative indicator updates"
To allow Users to format their indicator reporting updates we introduce the React markdown feature.

https://github.com/andrerpena/react-mde

![react markdown](https://user-images.githubusercontent.com/26227538/32951407-c49200e0-cb77-11e7-9cda-bf3294db7acb.png)

[2017-11-17 16:01] go1dfish opened #56 "Support for custom preview component"
Would be nice to be able to specify a custom component for previews in order to support customized markdown parsers.

[2017-11-18 07:06] ihaichao commented on #53
@daanishnasir It works in javascript, but doesn't work in typescript.

[2017-11-18 13:05] andrerpena commented on #54
Hi.. I compile the `ts` and `tsx` files to regular javascript. Here's a demo: https://github.com/andrerpena/react-mde-js-demo. Feel free to re-open this project if you have any problems.

[2017-11-18 13:05] #54 closed

[2017-11-18 13:05] andrerpena commented on #56
This is a good idea.. I'll keep this open

[2017-11-18 13:08] andrerpena commented on #53
I'm sorry. My fault.

I'm compiling the TS(X) files to JavaScript and I'm indeed generating type definitions (.d.ts) files, but if you couldn't make it to work, I certainly got something wrong.

I made a demo to test the NPM package, for JS here: https://github.com/andrerpena/react-mde-js-demo

I'm going to do the exact same demo for TypeScript and I'm making this a priority now. I'll update this

[2017-11-18 13:11] andrerpena commented on #55
I'm sorry but.. What is this issue about?

[2017-11-18 13:13] ihaichao commented on #53
@andrerpena Really appreciate that.

[2017-11-18 20:25] andrerpena commented on #53
Fixed on 1.0.6

[2017-11-18 20:25] #53 closed

[2017-11-18 21:55] andrerpena commented on #53
The demo is here, BTW: https://github.com/andrerpena/react-mde-ts-demo

[2017-11-20 11:17] andrerpena commented on #51
After careful thought, I've decided this is an anti-pattern, concerning both *separation of concerns* and *composability* and don't intend to implement it and here is why:

`react-mde` has main 3 components (in the more abstract definition):

 - **The toolbar bar**: Should dispatch commands.
- **The text area**: Should be a regular text area, except that it would be able to execute components disp

[2017-11-20 11:17] #51 closed

[2017-11-20 11:18] andrerpena commented on #56
I'll make this as part of an effort of decoupling the components and making `react-mde` more flexible:
Relevant thread: https://github.com/andrerpena/react-mde/issues/51

[2017-11-20 20:03] daanishnasir opened #57 "Commands ... how to go about editing/creating them?"
Everything works great with using the package, I'm just not sure how to go about editing the commands.

I really need to take out the typing in code command and possibly the insert picture command. No need for it in my app for our users.

Confused with the instructions of having to implement my own commands to do this (also not using typescript).

Seems like I would have create a file similar to t

[2017-11-20 20:29] andrerpena commented on #57
Haha.. I was going to say that you got really lucky because all you had to do was to pick whatever commands you want from here: https://github.com/andrerpena/react-mde/blob/master/src/ReactMdeCommands.tsx

... and then I realized it's impossible. The only way to do it now is by excluding them by index from the resulting array.

Thanks for reporting. This is major issue. I'll create a new one and c

[2017-11-20 20:30] andrerpena opened #58 "Make it possible to select which commands are available"
This was inspired by @daanishnasir's issue here: https://github.com/andrerpena/react-mde/issues/57

[2017-11-20 20:30] #57 closed

[2017-11-20 20:34] andrerpena commented on #58
I think the easiest solution is just to export every command from here: https://github.com/andrerpena/react-mde/blob/master/src/ReactMdeCommands.tsx

... so you can import just the ones you like, build your own array and pass it as a prop to `react-mde`

[2017-11-20 21:25] daanishnasir commented on #58
ah almost!

It does get rid of any commands that I take out of the toolbar. However the array of commands is dependent on ./ReactMdeCommandHelper (and maybe more files). I'll try making another file importing the helper functions from ReactMdeCommandHelper into ReactMdeCommands and will update this post if it works.

Example error right now:

`Uncaught ReferenceError: makeACommandThatInsertsBefore

[2017-11-21 16:11] daanishnasir commented on #58
It works fine from what i can see. I have removed the commands I don't need now. Just need ALL the files that ReactMdeCommands imports from (ReacMdeCommandHelper, ReactMdeTextHelper, all the type files needed).  Luckily typescript files automatically map to js files so it was pretty easy.  This is a great repo; thanks Andre for being really responsive to the issues. The only thing I can think of t

[2017-11-21 23:37] andrerpena commented on #58
Sorry for the late response. That's very good to know that you got it working. Thank you for the kind words.

From your comments, I understand that you were able to make to work because of the "allowJs" option of the TypeScript compiler. The ideal solution would be to make all the helper functions, like the ones here:
https://github.com/andrerpena/react-mde/blob/master/src/ReactMdeTextHelper.ts im

[2017-11-21 23:45] andrerpena commented on #58
Oh, and regarding your suggestion of making the preview "toggable", I think you mean like GitHub

![image](https://user-images.githubusercontent.com/1581429/33102631-d40d769a-cf04-11e7-9cbd-96ca06753912.png).

This is a reasonable request. I'll implement it (Feel free to create an issue for it if you like).

I think I'm going to follow this direction for `react-mde`: I'll give the user 2 options:

[2017-11-21 23:48] andrerpena commented on #56
I'm now implementing the ability for your to select each command you'd like (https://github.com/andrerpena/react-mde/issues/58#issuecomment-346076435) , and right after that, I'll improve the composability of `react-mde`.

This is the next task in the queue.

[2017-11-21 23:50] andrerpena commented on #55
I'm closing because I can't understand what is the request

[2017-11-21 23:50] #55 closed

[2017-11-22 04:25] go1dfish commented on #56
Sweet.  We're looking at using this for https://github.com/decred/politeiagui and currently we use the Snudownd markdown parser and are likely to customize from there.

[2017-11-22 08:00] AkvoAnt commented on #55
Hi Andre,

Apologies. I was using the link for your Markdown example and didn't realise it tagged you.

- Anthony

[2017-11-22 15:24] daanishnasir commented on #58
Thanks, this would be perfect. Will actively check on up on this issue. Currently I have too many typescript files in order to pick and choose which commands I want available. I really would like to to have no typescript files at all.

[2017-11-25 21:28] andrerpena commented on #58
This is basically completed in https://github.com/andrerpena/react-mde/tree/2.0-rc1 but because of some minor breaking changes in the way you import stuff, I had to increment the major version and I'll only have time to document it this Monday or Tuesday. Then I'll merge it to master.

[2017-11-25 21:33] andrerpena commented on #56
Thank you very much for considering using `react-mde` in your project.

After further consideration, I think the only way to make `react-mde` to support multiple previews is by breaking it down into 3 separate components and NPM packages (the toolbar, the textarea and a full-blown including the preview). This is because, even though I can strip `react-mde` in separate components in a single NPM pa

[2017-11-25 21:34] #52 closed

[2017-11-27 00:48] daanishnasir commented on #58
Awesome, I was playing around with it to see if I could get it working with the current version. I'm able to hide the commands by making a new array and splicing what i need from the ReactMdeCommands array. Just a temporary solution.

[code]
    let realCommands = [...ReactMdeCommands.slice(0,1), ...ReactMdeCommands.slice(2)]

[code]

[2017-11-28 02:44] vision-ken opened #59 "Support table?"
Does react-mde support table?
I tried the following in the live demo, but no effect:
[code]

[2017-11-28 03:10] andrerpena commented on #59
You are right. Bug. Thanks for reporting

[2017-11-28 03:12] andrerpena commented on #58
Yes that would work. Good job. Now you can import each individual command with the 2.* release. I still need to document a bit better but it works.
Thanks for reporting.

[2017-11-28 03:12] #58 closed

[2017-11-28 17:42] daanishnasir opened #60 "Confusion of how to get All 3 sub components working together."
On Version 2 of React-mde.

I have all 3 components showing. I'm just not sure how to go about connecting all 3 components to work together. Example : Clicking bold from ReactMdeToolbar component does not bold the text in ReactMdeTextArea component. And the text typed into ReactMdeTextArea component does not show up in the ReactMdePreview component. I'm sure there is something i'm missing here, li

[2017-11-28 19:01] daanishnasir commented on #60
Update:
[code]

Not sure how to connect the toolbar.

[2017-11-29 10:28] andrerpena commented on #60
So, the `ReactMde` component is so thin that its only purpose is to connect the 3 components together :)

You are missing an `onCommand={this.handleCommand}` on the `ReactMdeToolbar`.  Please take a look at https://github.com/andrerpena/react-mde/blob/master/src/ReactMde.tsx

...If you still can't get it working. Give me a shout and I'll help you.

[2017-11-29 10:30] andrerpena commented on #59
That's because [Showdown](https://github.com/showdownjs/showdown) doesn't handle tables by default, unless you pass it as an option. This is probably for performance reasons.

Tonight I'll release version `2.1.0` and I'll add an option to pass options to Showdown.

[2017-11-29 17:21] daanishnasir opened #61 "Feature for adding markdown list item on Enter key press and a Tab feature in textbox area"
Right now if you type markdown as followed :

- asdlkfjasdlfk    (and then press enter)
-         <--- it would be awesome if it automatically added a  "-"   or 1. , 2. , etc automatically depending on if its a bullet or numbered list.

Similar to how Microsoft word does it when pressing enter on Lists.

Also, a feature that when you are done writing the list items, a way to cancel out the last ma

[2017-11-30 01:07] andrerpena commented on #60
I'm closing this. Feel free to open if you have any trouble.

[2017-11-30 04:55] andrerpena commented on #59
Fixed on 2.1.1. Now you can pass `showdownOptions={{tables: true}}` and get tables working

[2017-11-30 04:55] #59 closed

[2017-11-30 22:11] andrerpena commented on #44
I tried to release 2.* in a compatible way but I still didn't test if your code still works, even though I presume it does, except for the `textareaId` and `textareaName` props that are now `textareaProps`.

[2017-11-30 22:11] #44 closed

[2017-11-30 22:14] andrerpena commented on #11
I think this problem has been fixed already. Please feel free to re-open if you still encounter this issue

[2017-11-30 22:14] #11 closed

[2017-11-30 22:15] andrerpena commented on #61
A appreciate your interest and it's indeed a cool feature, but since GitHub and Stackoverflow don't support this, I'm also not kin of supporting it.

I'd rather, in the future, provide an example of how to leverage the existing text helpers to help you to implement this on your own.

Sorry.

[2017-11-30 22:15] #61 closed

[2017-11-30 22:16] #56 closed

[2017-12-01 08:07] dmr commented on #11
Thank you, I'll test it

[2017-12-01 09:27] emirotin opened #62 "Scrolling jumps to the end when using the toolbar comands"
Repro:
* go to http://andrerpena.me/react-mde/
* type lots of text to have the scrolling in the textarea
* scroll to the beginning
* select a word
* hit "B" or "I" icon
* the selected text is properly wrapped, but the cursor jumps to the end of the textarea

[2017-12-01 09:30] emirotin opened #63 "UL/OL commands set wrong selection, affects UX"
Repro:
* go to http://andrerpena.me/react-mde/
* click any of the two list command buttons
* the list bullet is properly inserted but it and the following space are selected

Why is it bad? Becuase the users expect that after clicking on the list icon they can start typing the list item content. But because of the selection they overwrite the bullet.

[2017-12-01 23:09] andrerpena commented on #63
Thanks for reporting. Indeed a bug. Added to Roadmap.

[2017-12-01 23:09] andrerpena commented on #62
Thanks for reporting. Indeed a bug. Added to Roadmap.

[2017-12-01 23:21] andrerpena commented on #63
I'm going to follow the GitHub behavior:

- If the selection is in 1 line, including the case where the selection start and stop is in the same position,
 or if there's no selection at all (no focus) the resulting selection will be AFTER the list prefix (e.g `- `or ` 1. `).
- If the selection is multi-line, the selection will encompass the list prefixes.

[2017-12-04 22:54] daanishnasir opened #64 "Option to hide the Markdown Styling is supported?"
Is it possible to hide that div through a prop? (The div that leads to http://commonmark.org/help/)

[2017-12-05 11:04] andrerpena commented on #64
This one I agree. Added to the roadmap :)

[2017-12-05 13:23] andrerpena commented on #62
Just for reference: https://github.com/facebook/react/issues/955

[2017-12-08 13:52] andrerpena opened #66 "Make commands to return Promise<Value> only"
I'll be releasing a new 2.* version this Saturday that will allow commands to return Promises optionally (thanks @flexzuu). However, for the sake of consistency and simplicity, I'm deprecating commands that don't return a promise now. In 3.* they'll be gone.

This will have NO EFFECT on users that only use the default commands, and for those who created their own commands, all they have to do is t

[2017-12-09 12:39] andrerpena commented on #64
Checkout the new `visibility` prop: https://github.com/andrerpena/react-mde#using

[2017-12-09 12:39] #64 closed

[2017-12-09 13:06] #47 closed

[2017-12-09 13:46] andrerpena commented on #63
Enjoy!

[2017-12-09 13:46] #63 closed

[2017-12-09 13:52] emirotin commented on #63
Thanks!
On Sat, Dec 9, 2017 at 16:47 André Pena <notifications@github.com> wrote:

[2017-12-09 17:36] andrerpena commented on #62
Enjoy!

[2017-12-09 17:36] #62 closed

[2017-12-09 17:43] #14 closed

[2017-12-11 01:18] d0lb33 opened #67 "Can you document adding commands better in JS?"
Currently I have no idea on how to add commands to ReactMDE in its current state without modifying the node modules.

[2017-12-11 01:57] d0lb33 commented on #67
Wow. Well so I apaprently didnt know you had to double wrap the commands until I took a look at how the getDefaultCommands was returning. I am an idiot. All fixed now!

[2017-12-11 01:57] #67 closed

[2017-12-11 02:38] andrerpena commented on #67
I'm sorry for the confusion @d0lb33 . I've just updated the docs to prevent future users to have the trouble you had.

If you need anything, I'm here. =)

Glad you're using `React-mde`

[2017-12-11 06:04] d0lb33 commented on #67
@andrerpena Thanks!

[2017-12-15 19:27] daanishnasir opened #68 "Stuck highlighting within textarea box"
Weird issue going on, though it doesn't seem to be occurring in your demo but i figured maybe someone here would know how to go about fixing it...

Every time i highlight anything in the textarea box, I can't seem to un-highlight the selection after clicking within the textarea box again.

It does however get unhighlighted (text gets un-selected) once I click outside of the textarea box.

Any idea

[2017-12-16 18:23] andrerpena commented on #68
Too bad you're having this problem. I just tried to reproduce in the demos and I just couldn't.
I'll try harder another time and I'll leave this issue open in case anyone else knows what might be going on.
Cheers.

[2017-12-18 17:08] daanishnasir commented on #68
Found the issue, basically i had another function tied to textarea props that had a preventDefault();

[2017-12-18 17:26] andrerpena commented on #68
I'm glad to know! Thanks for letting me know.

[2017-12-18 17:26] #68 closed

[2017-12-18 17:27] andrerpena commented on #66
Hum. After second thought I just find this completely useless. I'll leave it how it is. It's working

[2017-12-18 17:27] #66 closed

[2017-12-18 17:28] andrerpena opened #69 "Support the preview being in a separate tab just like in GitHub"

[2017-12-18 17:30] daanishnasir opened #70 "Clicking a command not selecting the highlighted portion."
I'm using react-mde through the 3 sub component approach. Once i click bold (or any command) for example, it selects the entire string instead of the portion that i have highlighted

Example:

Text value: This is the test.

I've highlighted the word 'the' and clicked bold command.

Which results in this

           **This is the test**

Where it really should result to

          This is **the** t

[2017-12-20 10:39] andrerpena commented on #70
Thansk for reporting in such a detailed way. I'll work on this in the next weekend.

[2017-12-20 17:11] toastsgithub commented on #60
@andrerpena Hi andrerpena. ReactMde is a greate React Md component, I really love it, but today when I trying to layout the 3-sub components myself, I found that I have no idea how to set the `handleCommand` function for the ReactMdeToolbar component **(I checked out your source code, this function is setted by default if I use ReactMde directly, but when I use sub component I have to offer this f

[2017-12-20 17:25] andrerpena commented on #60
@toastsgithub , I appreciate your kind words.
I can help you. Can you please wait until this weekend when I'll be available?
I'm reopening this issue to help keeping tracking of it.

[2017-12-21 04:32] toastsgithub commented on #60
Yeah of course. It's my side-project, I have some other work to go in the coming 2~3 days, we can discuss this problem later this weekend. Thanks for reply again😄

[2018-01-08 11:33] Rowleen opened #71 "Cannot read property 'slice' of undefined"
When I try to use some button to format text, I get this warning

It could be because I'm passing value as string to component?

This is my ReactMde component. It receives the props from his parent.
[code]
And this's his parent:
[code]
This is the error:

Thanks in advance.

[2018-01-08 18:34] andrerpena commented on #71
Thanks for reporting. I'll take a look

[2018-01-15 14:21] Rowleen commented on #71
Hi @andrerpena.

I continued working with React-mde and the only function that work is **code**. The others buttons throw the same warning and doesn't formmat the text.

As you see, the compoent recieve a string and not an object in the value prop. May be for that?

[2018-01-17 11:49] andrerpena commented on #71
@Rowleen

I have to appologize. I DID NOT ABANDON THIS PROJECT WHATSOEVER. The problem is that during the last 3 weeks I'm solely dedicated to my moving from Brazil to Germany and I have lots of bureaucracy to solve, stuff to get sorted, people to visit.

I know react-mde still has it's inconsistencies and as soon as I settle in Berlin in the first week of February, I'll get back to it and solve.

[2018-01-17 11:50] andrerpena commented on #70
@daanishnasir

I have to appologize. I DID NOT ABANDON THIS PROJECT WHATSOEVER. The problem is that during the last 3 weeks I'm solely dedicated to moving from Brazil to Germany and I have lots of bureaucracy to solve, stuff to get sorted, people to visit.

I know react-mde still has it's inconsistencies and as soon as I settle in Berlin in the first week of February, I'll get back to it and solve

[2018-01-17 11:51] andrerpena commented on #60
I have to appologize. I DID NOT ABANDON THIS PROJECT WHATSOEVER. The problem is that during the last 3 weeks I'm solely dedicated to moving from Brazil to Germany and I have lots of bureaucracy to solve, stuff to get sorted, people to visit.

I know react-mde still has it's inconsistencies and as soon as I settle in Berlin in the first week of February, I'll get back to it and solve. It's not just

[2018-01-17 12:10] Rowleen commented on #71
hi @andrerpena.

No problem. Yesterday I solved the problem. Was happen that I was using value (coming for props) on reactMde component and the textarea. So when I tried to write, textarea spawn me [Object][object].

The Fix:
Use value prop on the component and defaultValue on textarea. And why? I have on the same page a component to create notes and a component to edit the notes, so I had to use

[2018-02-08 09:05] xdamman commented on #69
This is one step towards that direction: https://github.com/andrerpena/react-mde/pull/72

[2018-02-11 20:16] andrerpena commented on #71
@Rowleen thanks for letting me know and I'm glad you got to solve it

[2018-02-11 20:16] #71 closed

[2018-02-11 20:21] andrerpena opened #73 "Support for multiple layouts"
This will be a proper implementation of what @xdamman started at #72

[2018-02-12 00:42] mattbasta opened #74 "Option to disallow raw HTML"
Currently, a user can type something like this:

[code]

Which will cause all manner of chaos. It doesn't seem that there's a way to disable arbitrary HTML. Can this be made an option?

[2018-02-12 02:21] mattbasta opened #75 "Docs don't match TS type definition for Command"
The docs say that the `icon` member of a command may be a JSX element. However, the type definition only allows strings:

https://github.com/andrerpena/react-mde/blob/master/src/types/Command.ts#L6

The `icon` member should conceivably be updated to `string | JSX.Element`

[2018-02-12 22:58] andrerpena commented on #75
`string | JSX.Element` would probably be more correct. I used `ReactNode` but I don't know what would happen if you pass a number now. I'll update later. Your problem should be fixed now. Thanks for reporting.

[2018-02-12 22:58] #75 closed

[2018-02-12 23:06] andrerpena commented on #69
Closing in favor of #73

[2018-02-12 23:06] #69 closed

[2018-02-12 23:16] andrerpena commented on #74
Thanks for reporting. At first I thought it would be just a `Showdown` option but it is not. Then I looked into their demo and your scenario doesn't work there.. However, they are NOT encoding HTML. I'm not sure what they are doing different.

![image](https://user-images.githubusercontent.com/1581429/36125136-206d2870-1053-11e8-950d-c0281c878530.png)

[2018-02-15 00:28] connerleverett opened #76 "Implement history so Ctrl + Z will work properly with commands"
Enter text, select the text, use the bold command and then press ctrl-z.

Expected Behaviour: The bold should undo.

Actual Behaviour: The bold is not undone and random text may be deleted.

[2018-02-15 08:12] andrerpena commented on #76
Yes.. This problem sucks. Apparently, I'll have to write my own history manager for the text area.. AKA controlling Ctrl-Z myself if I want that to work.. I've spent like 4 hours trying to figure that out already Check https://github.com/andrerpena/react-mde/issues/15.

Now I only have to understand what the priorities are. I think I'm going to start with supporting tab previews like GitHub and th

[2018-02-16 07:26] andrerpena commented on #74
@mattbasta This weekend I'll experiment with HTML encoding the text area content before passing it to the Markdown preview. If it works fine I'll push it.. I'll keep this thread updated

[2018-02-16 07:49] andrerpena commented on #73
More recently @xdamman and @travisdmathis have been discussing about having multiple layouts for React-mde. Throughout the last year I've had so many requests in that regard. I think we're past the time we need to come up with a solution for this.

Here is what I think: `ReactMde` today is just a wrapper for the 3 sub-components listed [here](https://github.com/andrerpena/react-mde#composition-and

[2018-02-16 14:28] mattbasta commented on #74
Thanks! No rush from my end.

[2018-02-24 11:01] andrerpena commented on #74
Unfortunately, [there's no simple way to do it](https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-it)). I've added a prop called `processHtml` that allows you to process the HTML before it is displayed, which is the recommended way to do it according to Showdown.

However, I did not have time to investigate a "recommended" library for doing so yet. I'll

[2018-02-24 11:01] #74 closed

[2018-02-24 11:05] andrerpena opened #78 "Find a recommended library to deal with XSS"
As observed by @mattbasta in this thread: https://github.com/andrerpena/react-mde/issues/74, `React-mde` is vulnerable to XSS and this is not as simple as [described here](https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-it)). What we do have now is a prop called `processHtml` which is called before displaying the HTML in the preview panel, and this all

[2018-03-04 07:51] andrerpena opened #80 "Clicking inside a word and triggering the link command does not auto-select the word"

[2018-03-04 10:22] markspolakovs opened #81 "Possibility for commands to return multiple times"
Wishlist feature: make it possible for commands to update the text more than once, asynchronously.

Use case: image uploading. For example, when you first upload an image in the GitHub editor, it inserts `![Uploading IMG_20180214_172431_759.jpg…]()`. Once the upload is finished, it replaces the `Uploading...` text with the image's URL.

It is possible to work around this by using the command to in

[2018-03-04 11:24] andrerpena commented on #81
This is actually a good idea and something I had in mind, because I want `React-Mde` to have all the features the GitHub editor has.

I'm adding this to the board now. The backlog list is ordered "desc" in priority. The ones at the top are going to be solved earlier.

Thanks for the suggestion and your support.

[2018-03-04 20:08] markspolakovs commented on #81
For reference, in an earlier implementation of an editor (which I abandoned for react-mde), I did this by passing two callbacks into my command function (or my equivalent of the command function), one to get the current content (if it's changed between the initial command call and "now") and one to set it.

[2018-03-04 22:06] andrerpena commented on #81
I see your point.

![image](https://user-images.githubusercontent.com/1581429/36951026-c0e82d3a-1ffe-11e8-9d44-1495c4cb3425.png)

![image](https://user-images.githubusercontent.com/1581429/36951044-f87c9312-1ffe-11e8-9f97-66b352d72a67.png)

I've posted screenshots to kind of test the behavior or GitHub.

Yes. It would be much more scalable if the execute function was like this:

    execute: (getV

[2018-03-06 12:41] markspolakovs commented on #81
I didn't know it did that. In my implementation I didn't bother with that - if the user backspaces out the image the upload is not cancelled - I can rely on the backend to delete orphaned files.

Locking could be a good idea, but I think it should be optional. How does this look:

[code]

[2018-03-06 18:52] andrerpena commented on #73
Support for multiple layouts was introduced in the commit: https://github.com/andrerpena/react-mde/commit/fc7944046ebe1ba4c05c563c2cb2f0f790a08081

[2018-03-06 18:52] #73 closed

[2018-03-06 18:54] andrerpena opened #83 "Implement the GitHub layout"
After the multi-layout support was implemented https://github.com/andrerpena/react-mde/issues/73, now it's time to implement the GitHub layout, with the preview being on the side, in tabs.

[2018-03-06 19:00] andrerpena commented on #81
@markspolakovs, excellent suggestion. Let's go for this then.

[code]

I'll start working on this now.

[2018-03-06 19:47] markspolakovs commented on #81
I'm just thinking... maybe, instead of `lockDuringExecution` on the command object. we can change the second parameter of `setValue` to `lockEditor` and make the implementer call it with `true` when they start, and `false` when their command is done. Means everything related to locking is in one place.

This is bikeshedding though, and the API above is perfectly fine.

[2018-03-06 21:13] andrerpena commented on #81
@markspolakovs Interesting point. Now you can lock and unlock at will. Consider this the new API.
Thanks for your contribution.

[2018-03-08 06:40] andrerpena opened #84 "Use Draft.js instead of a regular textarea"
React-mde currently has the history problem https://github.com/andrerpena/react-mde/issues/76. So basically Ctrl + Z doesn't work properly when the content of the textarea is altered through a command and not by typing. The solution to this problem seems to be a custom implementation of history.

Yesterday I stumbled upon Draft.js again and it seems to take care of this and other feature problems

[2018-03-08 20:52] andrerpena commented on #81
@markspolakovs , unfurtunately I've decided to pause this until I investigate https://github.com/andrerpena/react-mde/issues/84, which I'll probably be able to complete until the end of this Sunday.

React-mde currently has a very big problem with state (Ctrl + Z after a command is executed), and we'll have another complicated problem to implement mentions and emoji the way GH does it, and Draft.j

[2018-03-09 09:35] andrerpena opened #85 "Remove the dependency over Font Awesome by embedding SVGs"

[2018-03-11 10:43] andrerpena commented on #84
After some research and a POC, Draft.js has proven to be **much** better option than using a regular text area because:

- It supports a much more flexible/advanced state manegement and fixes #76 out of the box
- It makes it easy to support mentions
- It makes it easy to support pasting files

Therefore, I'm not converting React-mde to use Draft, so expect major breaking changes for 5.*, but for t

[2018-03-11 10:49] andrerpena commented on #84
BTW, I'm also addressing #81 now.

[2018-03-11 11:32] andrerpena commented on #76
I'm currently working on this. The solution will be released on the 5.* version that will probably come up on March 18th.

[2018-03-20 13:33] markspolakovs commented on #83
@andrerpena, if it helps, in this gist you can see how I implemented it in one of my projects: https://gist.github.com/markspolakovs/08b522e186905c270b9d9cfdf9020775

There's quite a few dirty hacks for my environment and build system, but this could be useful. (The "ghost" field is an ugly hack to get auto-resizing for the editor.)

[2018-03-20 20:25] andrerpena commented on #83
@markspolakovs Thanks for sharing! I'll definitely take a look

[2018-03-30 12:45] Errorname commented on #78
I'm using this showdown extension to deal with XSS: https://github.com/VisionistInc/showdown-xss-filter

[2018-04-04 08:09] ant35rookie opened #86 "Focus is forcingly moved to markdown editor"
Hello,
Thank you for this great package

After applying this editor , I found a issue in it

** reproduction steps **
1. add react-mde
2. add other inputs
3. render
4. type something in react-mde
5. type something in other inputs
6. then focus is moved to react-mde forcingly

you can check it out with below code !
https://codesandbox.io/s/o4v4mqmrq6

[code]

[2018-04-04 08:26] andrerpena commented on #86
Thanks for replying, I'll investigate.. However, I'm just about to release version 5 next weekend (on the draft.js branch) and I'll try to reproduce your step on the new version and if still applies, I'll sure fix it.

[2018-04-04 08:28] andrerpena commented on #78
Oh God. Thank you veru much! I'll update the documentation. By the way, I'm just about to release a version 5 in which the dependency over Showdown is going to be removed, but it will still be primarily used for client-side Markdown transformation, even though you can now server side render the preview.

But I'll definitely include your suggestion on the documentation and I'll close this issue.

T

[2018-04-04 08:37] ant35rookie commented on #86
Dear andrerpena,

thank you for your support !

[2018-04-09 05:32] #84 closed

[2018-04-09 05:32] #80 closed

[2018-04-09 05:33] #76 closed

[2018-04-09 05:33] andrerpena commented on #78
Updated the readme.md file to include your suggestion. Thank you very much.

[2018-04-09 05:33] #78 closed

[2018-04-09 05:41] andrerpena commented on #81
Please check the new command API: https://github.com/andrerpena/react-mde/blob/master/src/types/Command.ts. Apart from locking the editor, it's there. I'll implement locking later. The 2 last callbacks of the Command are only for low-level Draft.js manipulation.

Draft.js also has support for pasting files. I'll expose that in the near future.

I believe that, in spite of the amout of breaking cha

[2018-04-09 05:41] #81 closed

[2018-04-09 12:07] Errorname commented on #78
You are welcome !

[2018-04-09 13:28] Duxez opened #87 "Set value"
At a previous version I could just set the object in state, but that doesn't seem to work after updating to the latest release.

I had to update since the editor forcefully took the focus. Does anyone have an example on how to set a default value for the editor?

[2018-04-09 16:12] andrerpena commented on #87
Oh. This is actually very easy but you reminded me that I now have to provide an utility for it... But I can do it in 20 minutes.

I'll update the project this night, as well as the documentation and post an example here.

Thank you for informing me.

[2018-04-09 21:02] andrerpena commented on #87
Please take a look at this example where a button is used to duplicate the text: https://codesandbox.io/s/l4jlp3p5om

If you need any further help, please re-open.

[2018-04-10 07:35] andrerpena commented on #87
In this case it's fine. If you pass null as a `editorState`, `React-mde` will automatically create an `MdeState` and call your `onChange` handler with a brand new object for you. You can then use `buildNewMdeState` from this point on.

It's important to state that the reason why you neeed a `buildNewMdeState` instead of simply setting some text, is that 1) You need to generate the HTML for your ne

[2018-04-10 07:36] andrerpena commented on #87
I'm updating the docs to refer to this thread to help future people

[2018-04-10 08:27] Duxez commented on #87
Thanks for your help that did the trick!

[2018-04-13 23:03] Nes-si opened #88 "Beginning a new line -> only space in Preview"
If I press "Enter" to begin a new paragraph, the only space appear in the preview.
To start new paragraph in the Preview, I must create two new paragraphs.
Is it a bug or a feature?

[2018-04-13 23:17] #88 closed

[2018-04-14 10:30] andrerpena commented on #88
Glad you solved it. Ping me if you have problems

[2018-04-14 14:00] smoleniuch commented on #87
@andrerpena You can not pass `editorState` as null.[This](https://github.com/andrerpena/react-mde/blob/master/src/util/DraftUtil.ts#L134) throws an error when i tried to do this.You must pass `{html:'', markdown:'', draftEditorState: null }` as default.

Cheers!

[2018-04-15 04:14] RobinJayaswal commented on #59
Thoughts on adding a button on the editor for inserting a table?

[2018-04-15 13:16] colshacol commented on #13
I agree, I think it should. I will look into this and see if I can provide a PR for the feature.

[2018-04-17 07:32] andrerpena opened #89 "buildNewDraftState apparently throws when null is passed as the editor state"
Reported by @smoleniuch  here: https://github.com/andrerpena/react-mde/issues/87#issuecomment-381331213

[2018-04-17 07:33] andrerpena commented on #87
@smoleniuch I've created an issue for this and I'll take a look this night. Thanks for reporting and for providing a Sanbox.

[2018-04-19 07:12] ant35rookie commented on #86
Dear Andrerpena,

I found that issue is resolved with version 5

thank you ^^

[2018-04-19 07:12] #86 closed

[2018-04-19 07:38] andrerpena commented on #86
Great to hear!

[2018-04-19 20:13] flexzuu opened #90 "onFocus"
Hey i like the new version of `react-mde` do you think we can build something in to give users control of onFocus etc? maybe even allowing to set arbitrary props of the draft-js editor.
This would allow people to use plugins with react-mde for example

[2018-04-20 08:28] andrerpena commented on #90
Hey. I fully endorse the idea and I'd like to help.
Would you take the time to elaborate on what exactly should we do, what should I learn and what exactly would be the benefits? For example, I want to be able to support mentioning and this MIGHT help.

Thanks for contributing

[2018-04-20 19:04] aliogaili opened #91 "Disable Preview"
Hello, is there a prop to disable preview in the latest version ?

[2018-04-21 06:49] gaelthas opened #92 "- [ ] abc does't work"
input
[code]
got
[code]

[2018-04-21 10:52] Nes-si commented on #92
react-mde use Showdown.js to convert Markdown to HTML. So, this is its feature. You can call Showdown with option `tasklists: true`.

[2018-04-21 16:50] Nes-si commented on #91
You can turn your attention to my fork, it has.

[2018-04-22 08:36] aliogaili commented on #91
Good fork! thanks for sharing

[2018-04-22 15:33] andrerpena commented on #92
Thanks @Nes-si , yes.. that, the answer

[2018-04-22 15:33] #92 closed

[2018-04-22 15:50] andrerpena commented on #91
@Nes-si thanks for your contribution. Now the `generateMarkdownPreview` is optional and `noPreview` is now on the docs to. Just published `5.2.0`. ♥️

[2018-04-22 15:50] #91 closed

[2018-04-22 15:51] #60 closed

[2018-04-26 21:39] Nes-si opened #95 "New problems with installing deps and running"
Hi there.
Since today, I can't run the project. Probably it concerns with upgrading to Node 10.
If I run `npm install` on pure repo clone, I get an error with node-sass:
[code]
So `node-sass` and `gulp-sass` don't install.

If I remove `package-lock.json` and try again, npm finishes installation correctly. But when I run demo (`npm start`), I get there are 4 errors:
[code]

[2018-04-29 07:44] andrerpena commented on #95
Thanks for reporting. Updating `node-sass` made it possible to run build `gulp-sass` is still broken so I cannot `npm run build` on Node 10 now.

I think I will ditch Gulp and just have a Make file. It is much simpler. People on Windows can now run Make with POSIX commands because Bash apparently works well on Windows now.

I'll keep you posted.

[2018-04-29 07:45] andrerpena commented on #95
Also.. use https://github.com/creationix/nvm if you don't already =)

[2018-05-03 00:14] andrerpena commented on #83
[Implemented by @Nes-si](http://andrerpena.me/react-mde/?selectedKind=Layouts&selectedStory=tabbed&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel) . I'll just adjust the UI and publish it as 5.5.

[2018-05-03 00:14] #83 closed

[2018-05-06 10:07] andrerpena opened #103 "Layout fine-tuning for the 5.5.0 release and the future of React-mde"
@Nes-si , I'm opening this issue just so you know what I'm thinking and working on, and so that we can discuss the future of `react-mde`.

I think `react-mde` is almost prod ready, and you played a big role on that, except for these things, that I'm working on right now:

- [ ] The UI is still a bit clumsy, it doesn't fill in place quite yet.
- [ ] `Undo` works but `Redo` after commands are applie

[2018-05-06 10:15] andrerpena commented on #103
Also, @Nes-si , I'd like to make the `tabbed` layout as similar as possible to GitHub so, if you don't mind, I'm moving the toolbar buttons to the right.

[2018-05-06 10:23] andrerpena opened #104 "Make the layout toggle buttons optional"

[2018-05-06 10:47] andrerpena commented on #104
For https://github.com/andrerpena/react-mde/issues/103

[2018-05-06 10:47] #104 closed

[2018-05-06 11:10] andrerpena opened #105 "Update the documentation for 5.5.*"

[2018-05-06 11:12] andrerpena opened #106 "Make it possible to add classNames for the editor and preview in the LayoutOptions prop"
Related to https://github.com/andrerpena/react-mde/issues/103

[2018-05-06 11:28] #105 closed

[2018-05-10 13:11] #106 closed

[2018-05-10 13:15] andrerpena opened #107 "Make sure the, in the vertical layout, that the editor and the preview have adjustable heights"
Relates to https://github.com/andrerpena/react-mde/issues/103

[2018-05-10 15:04] andrerpena commented on #103
@Nes-si , I'm trying to make a final version for 5.5, especially when it comes to UI/UX, and here is where I came to:  We do not have resources (time and contributors) to make a feature-rich, stable and beautifully designed product with too many options. I'd rather have a simpler editor, with less options but meeting what we've proposed to do than a product with more features that is somewhat half

[2018-05-30 13:37] langley2k opened #109 "How can i update the editor, if i want to load other text"
Hey,

in this sample code you are take the content inside the editor and duplicate the text.
 `
const newMdeState = await DraftUtil.buildNewMdeState(
      mdeState,
      this.generateMarkdownPreview,
      mdeState.markdown + " " + mdeState.markdown
    );
`

but in version 5.5.1 it doesn't work. i would go down to 5.1.1. but theres no tag anymore to older versions.
could you please help me, i´v

[2018-06-01 14:16] andrerpena commented on #109
@langley2k , thanks for reporting. I'll look into it now

[2018-06-10 11:52] shaishab opened #110 "Automatic form submit when clicked on "Code" or "Preview" button of tabbet layout"
If click on "Code" or "Preview"  tab of tabbet layout then submit the form. because of for "Code" or "Preview" button not setted type value like ` type="button"` .
I think can be like
`React.createElement("button", { className: styleTabCode, type: 'button', onClick: .......`
otherwise acts as submit type.

[2018-06-11 13:14] AndreasVolkmann commented on #85
I already use font awesome via the `@fortawesome/fontawesome-svg-core` library. I have imported the required icons to my library but I guess it won't work this way.
Looking forward to an embedded solution.

[2018-06-11 14:11] samschl opened #111 "Editor broken on Android (using Chrome)"
Hi there

I am experiencing issues using the editor on Chrome (v. 67.0.33.96.81) on Android (v. 8.0.0).
When I start typing every word is removed after adding a space. I tested this locally in my own project as well as on the demo on GitHub.

Cheers

[2018-06-13 18:04] andrerpena commented on #111
@samschl Thanks for reporting. I'll take a look

[2018-06-14 13:59] rej156 commented on #111
+1 on this for Kauri.io!

[2018-06-15 09:46] #110 closed

[2018-06-16 07:39] andrerpena commented on #111
I'm sorry for this. I'll prioritize this issue this weekend!

[2018-06-16 16:38] sunpreetsingh19 opened #115 "Unable to handle overflow for the preview and editor textarea"
Hello, I am facing an issue regarding handling the height and overflow of editor textarea as well as preview. I don't know if I am missing something, I tried adding an overflow to the parent container but the problem is,
 it also scrolls up the toolbar.

![screenshot from 2018-06-16 12-25-40](https://user-images.githubusercontent.com/22357469/41500568-1f722360-7162-11e8-85e9-0d8609070740.png)

[2018-06-17 12:47] andrerpena commented on #111
I still did not solve the problem, but 2 hours into it (just for being able to remote debug my Android device), I'm able to see the problem in the desktop DevTools. No exception is thrown in JavaScript. I'll continue to dig into it.

![image](https://user-images.githubusercontent.com/1581429/41507972-3d569ad8-723d-11e8-8277-4acb7083e68b.png)

[2018-06-17 14:46] aliogaili commented on #115
+ any input on this issue? sounds like a basic requirement.

[2018-06-19 10:05] rej156 opened #116 "Best practice for submitting editorState to the server and rehydrating the editorState?"
tl;dr How to dehydrate and rehydrate

[2018-06-19 10:08] rej156 commented on #116
Noticed that draftEditorState key's value is not the same when you JSON parse vs JSON stringify it
So rehydrating the whole editorState via JSON.parse causes a ContentState error

[2018-06-19 10:22] rej156 commented on #116
Nvm got it working
For anyone curious
[code]

[2018-06-19 10:22] #116 closed

[2018-06-20 11:28] rnemanja commented on #109
Any news on this?

[2018-06-24 19:59] andrerpena commented on #111
After quite a while trying to debug it on Chrome for Android I came to the conclusion it must be a Draftjs problem. I made a quick research and there it is: https://github.com/facebook/draft-js/issues/102. This is so sad. It took me so much to migrate React-mde to Draft without knowing it has issues with Chrome for Android =/

[2018-06-24 20:43] andrerpena commented on #109
Hey @rnemanja. Sorry for the delay. I've been quite busy with my personal life lately and could not give much attention to react-mde lately. I'm back. I was working on https://github.com/andrerpena/react-mde/issues/111 but apparently it does not have an easy solution. I'll focus on this issue now

[2018-06-25 08:08] samschl commented on #111
Hi andrerpena, thank you very much for looking into this issue, I really appreciate it. I had a quick look into the linked issue and it is a pity that draft is not mentioning that it has issues on Chrome for Android.

[2018-06-26 00:35] AndrewMorsillo commented on #111
Darn, I was thinking of using this lib as it sounds perfect for my project but I have a lot of users on mobile Chrome... Kinda crazy that draftjs.org advertises cross browser abstraction yet it is broken on android chrome for over 2 years with no movement from the developers ☹️

[2018-06-29 11:11] iShawnWang opened #118 "Demo broken for now ~"
![2018-06-29 7 09 35](https://user-images.githubusercontent.com/20266594/42089541-2ce9b620-7bd0-11e8-90dd-a1781674c13c.png)

[2018-07-01 16:50] andrerpena commented on #118
Thanks for letting me know! Fixed!

[2018-07-01 16:50] #118 closed

[2018-07-08 18:11] andrerpena commented on #89
This is now by design. `editor` is never supposed to be null.

[2018-07-08 18:11] #89 closed

[2018-07-08 18:16] andrerpena commented on #87
I'm sorry for how long it took for me to fix this. I recently moved to Berlin and I haven't had much to code at home. But now things are calming down and I'm returning.

There was a bug that prevented you from changing the `editorState.markdown` property. Now it is fixed.
If you want to create a button that duplicates text, just create it and add this as the event handler:

[code]

[2018-07-08 18:16] #87 closed

[2018-07-10 02:34] orditeck commented on #87
I feel like I'm having a similar issue.

I'm trying to do the following:

1. Render ReactMde with an empty state `{ draftEditorState: null, html: '', markdown: '' }`
2. Fetch the content remotely
3. When done, set the content in the store and refresh ReactMde

Expected result: empty ReactMde while loading, then ReactMde filled with the content after loading.

Result: empty ReactMde. It doesn't see

[2018-07-11 12:45] orditeck commented on #87
I just tried with the master branch instead of the latest npm release, same issue. Any idea what I'm doing wrong @andrerpena 😕?

[2018-07-11 19:05] andrerpena commented on #87
@orditeck sorry!!! I'm on it now!

[2018-07-11 19:41] andrerpena commented on #87
@orditeck I tried reproducing the problem and I could not... I'll give you some hints and then I'll post a working code that updates the content asynchronously, on a `setTimeout`.

**hints**:

The `editorState` that you pass to React-Mde is considered to be initialized when it's internal `draftEditorState` is truthy. If you pass a falsy `draftEditorState`, it will initialize it internally and call

[2018-07-11 19:49] andrerpena opened #120 "Simplify the value to be simply the markdown value"
After problems like #87 , it is clear to me that React-Mde should be refactored to receive a simple `value` prop with the Markdown text instead of the current complex `editorState` that contains the Draft.js state.

With this change, a Draft.js state would be kept internally and automatically rebuilt when the `value` provided to React-Mde diverges to the last `value` passed on `onChange`

[2018-07-12 01:07] orditeck commented on #87
Thanks @andrerpena for your help.

It was working with my workaround and it wasn't bad, but still I wanted to try the "right" way. So I reverted back to the version on npm and retried to make it work using your code as an example. It ended up working just like I expected the first time, 2 days ago. No idea why...

Final code looks like

[code]

The default `EditorStore.mdeState` is simply

[code]

[2018-07-12 19:58] bnbarak commented on #87
Thank you for @andrerpena for taking the time to solve those issues.
## Issue
`<ReactMde />` not updating when there is change in state.

### Reproduce code
[code]

### Note
With adding this (random) interval it works:
[code]

[2018-07-13 08:38] dimroth commented on #85
Hi @AndreasVolkmann, here is something that works fine for me :

[code]

[2018-07-16 19:04] #111 closed

[2018-07-17 00:39] ryanlward commented on #87
I've also been experiencing this issue, using 5.7.0

One odd behavior I have seen is that is I set state using a string, it seems to display, but if I pull it form props it does not.

Ex: Doesn't work
[code]

Ex: Works
[code]

Not sure why that would be any different.

[2018-07-17 04:28] yehudamakarov opened #124 "How to change default toolbar (appearance)?"
This type of project is new to me. Just trying to edit the toolbar if possible. I tried to look at the source in my node_modules folder but it seems to be precompiled with a .js folder. I also tried to go through the component hierarchy in developer tools. (Note - I get an `Unknown` component for the toolbar.) I can't figure out how and where I'd do this.
When I studied the "React-mde is designed

[2018-07-17 15:21] yehudamakarov commented on #124
I tried something like this which successfully resizes the icons.

[code]

[2018-07-31 15:18] orszaczky commented on #87
In which version has this been resolved? I'm running 5.7.0 and have the same occurrence as above (setting the state as a string works, and the editor picks up the state, but if I try to pass it in from a prop, it doesn't.

I also tried updating the state with setInterval() which updates the component state, but the editor is not picking up the change.

[2018-08-07 04:52] u007 commented on #90
i think somehow, reactmde is stealing focus from another text input,
is there a reason for this?

i think work around is to have textareaprops to support for onfocus and onblur to handle form disabling when focus is on other field

[2018-08-07 17:39] ythecombinator commented on #109
Hey @andrerpena, how do ya?

I'm facing the very same issue here; any news on this?

[2018-08-07 20:49] andrerpena commented on #90
@u007 Thanks for your report. I can't think of any reason for react-mde to be stealing focus. I'll add the possibility to pass Draft.js props in version 6

[2018-08-07 20:57] andrerpena opened #126 "Provide a way to pass Draft.js options to the Editor"

[2018-08-07 20:58] andrerpena commented on #126
This should help with #90

[2018-08-07 21:01] andrerpena commented on #109
@ythecombinator I'm working on #120 now... The value will be a simple text with only the markdown being passed as a parameter. This will hopefully solve this issue.

[2018-08-08 07:40] projecteon opened #127 "Localization"
Hi,

Are there any thoughts or plans to add localization in any way?

https://github.com/ryandrewjohnson/react-localize-redux
https://github.com/stefalda/react-localization

[2018-08-08 07:49] devonnuri commented on #109
For temporary, use this code for edit text in MdeEditor..

It is just working, i think it could be shorten..

[code]

[2018-08-08 21:34] andrerpena commented on #109
Thanks @devonnuri for your contribution. I'm working on v6.0 now and I'm changing the value type to `string` (pure markdown) instead of the shady `MdeState` and I'm keeping an internal cache that I invalidate when the passed string is different from the previous one. This should make everyone's life easier. WIP PR: https://github.com/andrerpena/react-mde/pull/128

[2018-08-08 21:36] andrerpena commented on #127
Hey @projecteon , can you please clarify what type of string is not localizable?

[2018-08-09 10:35] projecteon commented on #127
![image](https://user-images.githubusercontent.com/2820276/43893824-93fce024-9bd0-11e8-96e8-a49191fb44c5.png)

The aria labels for commands (I'm using css to make them hover pop for information to the user) as well as the Code/Preview tabs in tab mode.

[2018-08-10 20:33] mikeappell opened #129 "Possible to pass a ref to the inner textarea/editing area?"
Hey there 😃

I'm conditionally rendering the Mde, and would like it to gain focus upon rendering. However, I'm struggling to pass a ref to the inner editing area which would allow me to call `ref.focus()`.

I don't think that `textAreaProps` is supported anymore – what's the best way to accomplish what I'm aiming for?

Thanks in advance.

[2018-08-14 11:08] lchrennew opened #131 "how could i compile the src into umd file?"
how could i compile the src into umd file?

[2018-08-19 12:47] andrerpena commented on #131
Currently, the released NPM module contains ES5 transpiled JavaScript code and SCSS/CSS, but it is up to you to generate UMD modules if you need it.

Do you have a suggestion about how to make it better? Can you point to a React library that does what you need that React-mde does not?

[2018-08-19 13:05] andrerpena commented on #131
I'll investigate using Rollup to release a UMD bundle

[2018-08-21 01:01] vishrutshah opened #132 "Initialize `editorState` multiple times"
How can I initialize `editorState` multiple times based on the state changes of the parent?

It doesn't seem to re-render with new markdown text.

[code]

Calling it from other component as

[code]

When data changes in `<MDEditor markdown={this.state.data} />` I would like to re-render the component `ReactMde` with new data which is not happening. I may be doing something wrong. It's be great if

[2018-08-22 06:55] birmjin10000 opened #133 "Unhandled promise rejection TypeError: "__WEBPACK_IMPORTED_MODULE_11_react_mde__.DraftUtil.buildNewMdeState is not a function""
Unhandled promise rejection TypeError: "__WEBPACK_IMPORTED_MODULE_11_react_mde__.DraftUtil.buildNewMdeState is not a function"

I wrote some code which looks much like code at https://codesandbox.io/s/l4jlp3p5om.

But it keeps throwing above error. I appreciate any hints.

[code]

[2018-08-22 16:57] mikeappell opened #134 "Stripped newlines still show up in Editor window"
In the function I have for `onChange` I use the following logic:
[code]

The reason for the `trim()` is that I trigger some custom logic on enter (specifically, hiding the markdown editor), and so I want to prevent them from being saved. And it _does_ successfully update state without the newline characters.

However, the editor window still shows the newlines despite state lacking them, and I'm n

[2018-08-23 08:34] #133 closed

[2018-09-07 00:57] vishrutshah commented on #109
@andrerpena This is great! Any ETA on when are you planning to release `v6.0` ?

[2018-09-15 15:02] vitalif opened #135 "pageup pagedown keys not working"
Hi, pageup pagedown keys are not working in the editor

[2018-09-16 08:52] andrerpena commented on #135
Thanks for reporting!

[2018-09-16 08:54] andrerpena commented on #134
I'm sorry I've been away for a while. I'll look into it ASAP

[2018-09-16 08:55] andrerpena commented on #132
Thanks for reporting and sorry that I've been away for the last couple of months. This will hopefully be fixed on version 6.0

[2018-09-16 09:03] andrerpena opened #136 "The new direction of react-mde from version 6.0 on"
I'm creating this issue to let you know what I've been working on recently and what are the expected changes in v6.0. Unfortunately, I don't have enough time to work on this project, so I'm cutting down scope and trying to release a simpler version that aims to work (hopefully) 100% rather than a full feature rich editor that doesn't work at all.

v6.0 changes:
- [ ] Multiple layouts will no longe

[2018-09-25 16:28] LearnedVector opened #137 "Embed video support"
Any support for embedded videos?

[2018-09-29 21:30] Sexual commented on #109
@andrerpena Still planned for the 30th? This is something we desperately need.

[2018-10-01 11:57] cjs840312 opened #138 "Triggering Submit unexpectedly when inside the <form> tag"
When putting react-mde inside the `<form>` tag
ex:
[code]
Since `<from>` 's default action is submit,
submit signal is always trigger whenever buttons on the toolbar is clicked.
It seems like a bug, please help solve this problem thanks !

[2018-10-02 03:52] cjs840312 opened #139 "Use font-awesome in a more "react" way"
I like this project very much, however,
since this markdown editor is target for react use,
it seems that the use of font-awesome should be more "react" style.
Adding `<script>` in html may conflict with other package and is not that elegant.

The following link in the official website for using font-awesome in react.
https://fontawesome.com/how-to-use/on-the-web/using-with/react

Hope it can impr

[2018-10-02 04:06] lukecamelo commented on #109
@Sexual For real.

I've been using the hack @devonnuri posted but now I have a case where it doesn't work, I'm even getting strange errors. I have an edit button for comments, it brings up a modal with an instance of ReactMde in it and for the life of me I cannot get it to update.

[2018-10-02 08:44] SergeyShablenko opened #140 "Buttons type"
Make buttons type configurable or make them with type "button" to prevent form submitting

[2018-10-02 11:41] andrerpena commented on #109
I'm sorry @Sexual and @lukecamelo. I'm past my own deadline. I'll try to deliver a `6.0-beta` tomorrow, October 3rd. One problem is the documentation.

Unfortunately there will be a bunch of API and visual changes to it. Check more here: https://github.com/andrerpena/react-mde/issues/136

[2018-10-02 19:51] ballPointPenguin commented on #138
I'm experiencing the same. Not sure how to work around it.

[2018-10-03 01:55] cjs840312 commented on #138
Since I'm using **reactstrap**( bootstrap for react ),
I can change the tag to `<Form tag='div'>` and the problem won't happen.
However, the problem still need to be solve for people who use raw html tag `<form>`

[2018-10-03 01:56] cjs840312 commented on #140
I think this is the same problem as #138

[2018-10-03 13:18] andrerpena commented on #139
React-mde supports custom icon providers, meaning you can provide a customized way to convert an "icon name" into a React element: https://github.com/andrerpena/react-mde#customizing-icons

If this doesn't solve your problem, please let me know.

[2018-10-03 18:48] andrerpena commented on #140
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-03 18:48] andrerpena commented on #132
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-03 18:49] andrerpena commented on #127
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-03 18:49] #127 closed

[2018-10-03 18:49] andrerpena commented on #120
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-03 18:49] #120 closed

[2018-10-03 18:49] andrerpena commented on #115
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-03 18:49] #115 closed

[2018-10-03 18:49] #103 closed

[2018-10-03 18:50] #140 closed

[2018-10-03 18:52] #136 closed

[2018-10-03 18:53] andrerpena commented on #109
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-03 18:54] #139 closed

[2018-10-03 18:55] andrerpena commented on #138
This problem should be fixed on version 6.0.0-alpha.1. I'm sorry but this contains a number of [breaking changes](https://github.com/andrerpena/react-mde/blob/master/docs-md/ChangeLogMigrating.md#from-5-to-6). Please let me know if it does not work for you.

[2018-10-04 14:19] lukezavrel opened #141 "Prop for default tab"
Hi,
would it be possible (or is there a way) to set the initial tab to `preview` on the `tabbed` layout?
Thanks for your answer.

[2018-10-04 16:59] Sexual opened #142 "Cursor jumps with pre-set value"
On load: [image](https://i.imgur.com/gg2c1sQ.png)
After focusing at the end of "test" and typing **one** "1" (two "1"s appear): [image](https://i.imgur.com/971A9LR.png)

The code used is the same as https://github.com/andrerpena/react-mde#using but without a markdown generator.

Have any ideas as to what might be causing this? If you delete everything in the area and then type anything, it works p

[2018-10-04 19:05] andrerpena commented on #141
So, the best way to do that, I think, is to make react-mde completely controlled and expect you to pass the current tab to it. This will make it a bit less straight-forward but I think it is the best way to go. I'll make the change.

[2018-10-04 19:07] andrerpena commented on #142
Sorry for the problem. Given your screenshot, I'm assuming you're not using the 6.0.0-alpha.1. Unfortunately, I'm not maintaining the 5.8 version anymore.. because of time constraints. I hope you understand.

I tried reproducing the problem on 6.0.0-alpha.1 on Chrome and I could not. Please provide more information.

[2018-10-05 00:49] Sexual commented on #142
@andrerpena Nope, definitely using 6.0.0-alpha.1.
[code]

Using react-router and redux.

[2018-10-05 07:32] andrerpena commented on #142
Thanks for the info. I'll try to reproduce and set up a CodeSandbox example.

[2018-10-08 21:23] andrerpena commented on #142
I could not reproduce but I have set up a demo: https://codesandbox.io/s/o5vpjwyp79
Can you please provide me with exact instructions on how to reproduce using the above link?
Thanks!

[2018-10-10 15:04] ballPointPenguin commented on #138
I was able to preventDefault on the forms onSubmit event

[2018-10-13 03:03] keji94 opened #143 "wiki is not friendly to React newcomer。"
when i copy demo code to my cscode ,it tips : types only use in .ts file :(

[2018-10-15 07:35] cjs840312 commented on #138
That's a good solution!

[2018-10-23 11:47] Dearkano opened #144 "Problems with customButton in 6.0.0-alpha.1"
When using new buttonComponentClass api and set the value of type ReactComponentClass,
like this
`    buttonComponentClass: buttonComponent`

function 'execute' in class Command is not called after clicking the button.

 However, it works well when giving the value which is of type string
like this
`    buttonComponentClass: "div",`

And it seems that docs about customButton in v6.* haven't been u

[2018-10-24 06:45] Dearkano opened #145 "Async command is no available in v6.0.0-alpha.1"
It seems that there's no longer support for async command anymore.

I change 'handleCommand' in ReactMde.tsx and it works.
[code]

[2018-10-24 07:41] leehillz opened #146 "Bullet point and numbered lists don’t continue when you press the return key to move to the next line"
- Add a bullet point or numbered list
- Enter some text and hit the return key
- The list isn't continued

[2018-11-05 15:19] Betree opened #147 "l18n props is not used by MdeToolbar"
In `6.0.0-alpha.1`, passing `l18n` has no effect. MdeToolbar always use the default `enL18n.write` instead of `props.l18n`.

https://github.com/andrerpena/react-mde/blob/f03775468287db91909d461ded7b322c18c9e23c/src/components/MdeToolbar.tsx#L36-L49

[2018-11-07 23:29] shrmnk commented on #142
Same thing happens here.

I'm using Preact, Preact-Compat and Preact-Router. No redux, so I think this issue might be preact-related.

[2018-11-08 10:29] SergeyShablenko commented on #147
When will this change be applied?

[2018-11-08 11:56] SergeyShablenko commented on #147
why not just replace `enL18n` with `this.props.l18n` ? It would be much faster for you to just push it than for me to create pull request e.t.c

[2018-11-08 13:46] Betree commented on #147
@SergeyShablenko I'm not a maintainer here, just a contributor like you :slightly_smiling_face: It would take me the same time

[2018-11-19 14:04] Sexual commented on #142
@shrmnk Did you manage to find a workaround for this?

[2018-11-20 02:29] shrmnk commented on #142
@Sexual Unfortunately no. I ended up moving to other markdown editors

[2018-12-19 20:08] andrerpena commented on #145
@Dearkano , supporting async commands would make the code more complicated because we would have to figure out a way to lock the editor while the Promise does not return. Also, I could't find a compelling reason to have to support it.

[2018-12-19 20:08] #145 closed

[2018-12-19 20:21] andrerpena commented on #147
I'm fixing this now.. sorry

[2018-12-19 21:14] #147 closed

[2018-12-19 21:18] andrerpena commented on #126
You can now pass `draftEditorProps`

[2018-12-19 21:18] #126 closed

[2018-12-19 21:20] andrerpena commented on #143
Yes.. You are right. I should change it to JavaScript

[2018-12-19 21:25] andrerpena opened #148 "Make react-mde great again"
**Draft.js:**
- Adds almost 400KB to the bundle size.
- Will  commemorate 1 year without updates on January 20, 2019. Facebook most likely does not use it in prod.
- Does not work on Mobile Chrome. https://github.com/andrerpena/react-mde/issues/111
- Probably has issues with with Preact. https://github.com/andrerpena/react-mde/issues/142

The reason why I migrated to Draft.js is stated here https:

[2019-01-01 16:59] andrerpena commented on #143
Thanks to @lukecamelo it's now better

[2019-01-01 16:59] #143 closed

[2019-01-05 14:41] andrerpena commented on #148
7.0.0 TODO list
- [ ] Eliminate Draft.js
- [ ] Eliminate the dependency to font-awesome
- [ ] Evaluate all the dependences and evaluate whether or not it is possible to make react-mde zero dependencies

Intermediate TODO (Tasks to be executed during the migration)
- [ ] Decide what to do with the Tab command. Stackoverflow and Github don't support it.
- [ ] Evaluate what to do with keyboard comman

[2019-01-27 01:25] weifuchuan opened #150 "react-mde@6 cannot installed in yarn."
`yarn add react-mde`

The problem is unable to create file docs-md/5*-readme.md: Invalid argument.

[2019-01-28 10:45] andrerpena commented on #150
I will check this today. Thanks for reporting!

[2019-01-31 09:36] T0din commented on #150
Newbie here. I've tried to install it with yarn (and seemed to succed) but
`import ReactMde from "../src";`
the import doesn't work. And i can't find any way around it. Not sure if related or not. Would love some help :)

[2019-02-03 22:56] andrerpena commented on #150
@weifuchuan I was able to perfectly install react-mde from yarn.
@T0din , it is because the documentation was wrong. "../src" would only work because, in the demo, I load `readt-mde` locally. It would be `import ReactMde from "react-mde";`. I just changed the docs.

I'm setting up a repo to test installations. @weifuchuan , check this out. Yarn worked:
https://github.com/andrerpena/react-mde-test/

[2019-02-03 22:56] #150 closed

[2019-02-10 08:59] andrerpena opened #151 "Remove InsertText and add a dependency to insert-text-at-cursor"

[2019-02-10 09:02] andrerpena opened #152 "Add UI hints to the command buttons"

[2019-02-10 09:02] andrerpena opened #153 "Add tab support"

[2019-02-10 10:16] andrerpena commented on #141
I'm doing it now

[2019-02-12 03:17] ythecombinator commented on #126
Hey, @andrerpena! Is there any specific reason for you not to add this prop to `ReactMdeProps`?

[2019-02-12 06:33] andrerpena commented on #126
Because there is no more Draft.js on v7. Adding Draft was a mistake. First because I was not using any rich text capability. Second because Facebook abandoned it. But thanks. You reminded me to put a warning there stating that while I work on the migration docs.

[2019-02-12 12:12] ythecombinator commented on #126
Wow, that's news to me. I'm not that active on draft.js, where did they state that? Do you know if there are any specific reasons for abandoning the project? Ty

[2019-02-12 21:46] andrerpena opened #154 "Prevent resize of the textarea"
![image](https://user-images.githubusercontent.com/1581429/52670083-015b6c00-2f18-11e9-921f-c3cc866d2bdd.png)

[2019-02-12 21:47] andrerpena opened #155 "Prevent very weird space beneath the textarea o Chrome"

[2019-02-12 21:48] #155 closed

[2019-02-12 21:57] #154 closed

[2019-02-13 06:18] #141 closed

[2019-02-13 06:31] #151 closed

[2019-02-13 08:10] andrerpena commented on #126
I have opdated the docs. Now you can pass textarea props instead of draftjs
props.

I'm also curious about why they did it. Facebook is super interest in rich
text editors, but my guess is that they did not find value in maintaining
features they don't need.

Humm. I just checked the repo and they are  back maintaining it. But
anyways, React me does not need it

On Tue, 12 Feb 2019, 13:12 Matheus

[2019-02-14 01:10] ythecombinator commented on #126
Thanks for the feedback, @andrerpena.

I know that this issue is probably not the best way to ask this but I'll throw the question anyways: given that you mentioned using draft.js was a design mistake and that you didn't take advantage of all its stuff, the first thing that comes to my mind is: how things like handling cursor position and text selection go now? Let me put a simple use case to illu

[2019-03-02 06:42] LennyLip commented on #54
`Uncaught (in promise) TypeError: classnames_1.default is not a function`
at
`        return (React.createElement("div", { className: classnames_1.default("react-mde", "react-mde-tabbed-layout", className) },
`

[2019-03-02 08:50] andrerpena commented on #54
Thanks for reporting. When you say the demo link is broken. What demo you mean exactly?

[2019-03-02 09:06] LennyLip commented on #54
The link from your comment https://github.com/andrerpena/react-mde/issues/54#issuecomment-345441127

[2019-03-02 09:45] andrerpena commented on #54
@LennyLip oh yes you are right. I'll fix it! Thanks for letting me know

[2019-03-05 20:50] wbobeirne opened #156 "Editor no longer grows with content"
This used to work in version 5, but it looks like it doesn't anymore. This was a great feature that I'd like to see return!

[2019-03-05 20:58] jleclanche opened #157 "Add release tags"
Any chance npm release tags can be pushed to git as well? Right now only 5.5.x prereleases show up:

https://github.com/andrerpena/react-mde/releases

[2019-03-06 18:13] ramast opened #159 "React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in"
[code]

[code]

Error:

```Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in. Check the render method of `ReactMde`.
    in ReactMde```

[2019-03-06 20:25] andrerpena commented on #157
Good point. I'll generate a tag now

[2019-03-06 20:34] andrerpena commented on #159
Checking

[2019-03-06 20:42] andrerpena commented on #157
Just did for 7.0.3. I will do it for future releases as well. Just curious.. Why is it important for you? Thanks

[2019-03-06 20:42] #157 closed

[2019-03-06 20:45] jleclanche commented on #157
Thanks! Having the tags on git is just super useful to track releases and know the health of the project based on git, rather than having to go on npm :)

[2019-03-06 20:47] andrerpena commented on #142
This has been solved by 7.*

[2019-03-06 20:47] #142 closed

[2019-03-06 20:49] andrerpena commented on #146
I'm sorry. Neither Stackoverflow or Github has this feature and my goal is to have feature parity with Github.

[2019-03-06 20:49] #146 closed

[2019-03-06 21:05] andrerpena commented on #159
I just updated the demos and I cannot reproduce. Please provide more details. I'll be happy to reopen

- [Demo](http://andrerpena.me/react-mde/).
- [Demo on CodeSandbox](https://codesandbox.io/s/vm1k17ymq0) (please try to reproduce forking this one here)
- [Demo *source* in TypeScript](https://github.com/andrerpena/react-mde/tree/master/demo).
- [Demo *source* in JSX](https://github.com/andrerpena

[2019-03-06 21:05] #159 closed

[2019-03-06 21:06] andrerpena commented on #54
The demos were fixed:

- [Demo](http://andrerpena.me/react-mde/).
- [Demo on CodeSandbox](https://codesandbox.io/s/vm1k17ymq0).
- [Demo *source* in TypeScript](https://github.com/andrerpena/react-mde/tree/master/demo).
- [Demo *source* in JSX](https://github.com/andrerpena/react-mde-test).

[2019-03-06 21:08] andrerpena commented on #157
Makes sense. I'll keep it updated. Thanks

On Wed, 6 Mar 2019, 21:45 Jerome Leclanche, <notifications@github.com>
wrote:

[2019-03-06 22:15] wbobeirne opened #160 "Publish a new version to update npm package"
Thanks for removing npm with [this release](https://github.com/andrerpena/react-mde/releases/tag/7.0.3), however it looks like there was a 7.0.3 that happened 22 days ago, so npm doesn't have this removal of npm. Could you bump and push a new release so that npm doesn't have this package anymore as well?

[2019-03-07 01:25] ramast commented on #159
I was able to reproduce this bug on CodeSandbox simply by changing react version in package.json

[code]

[2019-03-07 16:10] ramast opened #161 "Allow preview component to accept React object"
I use `react-markdown` to turn markdown text into ~~html~~ native react component.
When passing this to `generateMarkdownPreview` function, it render it as `[Object]`.

Is there a possibility to make a simple check if the data is `string` then assume it's html and handle it as you do now, if it's instance of `Component` then render it as it is?

[2019-03-08 09:08] andrerpena commented on #160
Oh my god I forgot to publish. My bad. Thanks. I will fix

[2019-03-10 04:00] jleclanche opened #162 "onTabChange is not a function"
Here's my code. I'm using react-markdown to generate the preview:

[code]

When I set `generateMarkdownPreview` however, I get an error when clicking Preview:

[code]

Any idea why? I tried with showdown or even with empty promises. I also tried setting `onTabChange` to a void function which gets rid of the error but the preview is still not generated.

[2019-03-11 10:48] jacklimwenjie commented on #150
This is still a problem for me.
Upgrading to v7.0.3 solve the problem tho.

[2019-03-11 21:57] andrerpena commented on #162
You are getting an error because when you click `preview` it tries to change the tab by calling a function `onTabChange` that should have been passed. React-mde 6 was not controlled. It had state. But now it is fully controlled and you have to pass `selectedTab` and `onTabChange`.

If you still have a problem, can you please fork this example https://codesandbox.io/s/vm1k17ymq0 and let me know wha

[2019-03-11 22:01] andrerpena commented on #161
I think it makes sense and I will do it.. But question. Why do you use React mde to turn markdown into React Component? You should not do that. If you want to convert markdown into React, just use Showdown to get the HTML and then set the HTML into a `div` or whatever using `dangeriouslySetHtml` like this: https://github.com/andrerpena/react-mde/blob/master/src/components/MdePreview.tsx#L47

[2019-03-11 22:01] andrerpena commented on #160
It is done. I'm really sorry for the late

[2019-03-11 22:01] #160 closed

[2019-03-11 22:06] jleclanche commented on #162
Hm, not sure I agree with that design (react-mde should probably be in control of its own state as far as the active tab goes, if there's an active tab), but I see the logic.

Anyway yes I did get it to work with a simple useState and by setting selectedTab:

[code]

But if this is the design, then it should be made much clearer (documented, and maybe changing the typings to make selectedTab requi

[2019-03-12 20:41] ramast commented on #161
Thank you!

When a user enter markdown text (through react mde or any other means), I'd eventually need to render his text in my webpage.

I could use `Showdown`  as you mentioned but a much simpler solution in my opinion is using native react component to render markdown. Like that:

    import ReactMarkdown from "react-markdown"
     .....
     <ReactMarkdown source={user_input} />

Super simple

[2019-03-12 22:51] andrerpena commented on #162
@jleclanche Thanks for your feedback. I made it controlled because I received more than one request to let the user to set the selected tab. There are workarounds to make the component controlled and not controlled at the same time but it is ugly.

Do you have a suggestion that would make everybody happy? I'm happy to discuss.

BTW, thanks for sharing your code.

[2019-03-13 17:44] jleclanche opened #163 "Highlight image url portion when clicking image button"
Clicking the image button currently looks like this:

![image](https://user-images.githubusercontent.com/235410/54301763-de2be700-45bf-11e9-9d22-41883231f50b.png)

I suggest changing it to behave this way:

![image](https://user-images.githubusercontent.com/235410/54301791-eedc5d00-45bf-11e9-828e-a79566824eb2.png)

When inserting an image it's most likely that the user will insert the image's url

[2019-03-13 17:47] jleclanche commented on #162
I haven't looked at the code, but if that's the only reason it behaves like this, then you could instead have a `defaultSelectedTab` prop?

I don't think the current interface is particularly egregious but it's definitely unintuitive and not well documented. Requiring the user to write their own onTabChange for the most default functionality is not great. You could just have a default for it, righ

[2019-03-18 09:51] pawlowskim opened #164 "Version 7.0 doesn't contain dist folder"
Latest versions doesn't have dist folder so it cannot be used. It works with 6.0.

Moreover, I think that `ReactMde` have wrong import for class names. It should be
`const classNames = require("classnames");`
or
`import * as classNames from "classnames"`

[2019-03-20 21:16] andrerpena commented on #164
Yes, v7 does not contain a `dist` folder but why do you need it? It does work. There is a CodeSandbox demo here: https://codesandbox.io/s/vm1k17ymq0 and also a full demo here: https://github.com/andrerpena/react-mde-test

Can you please elaborate?

[2019-03-28 08:20] qhuyduong opened #165 ""Uncaught TypeError: classnames_1.default is not a function" on React 16.2"
Hi,

I'm trying react-mde in my project. However I got this error. I'm using React 16.2. Is there any solution?

[2019-04-04 14:18] KoopOngle opened #167 "Innintentionnal error"
When you press the button to cross out a text, it make some '_' insted of '~' so it make it in italic insted of cross out

[2019-04-05 08:31] dnlfrst commented on #129
# Problem
You want to have `textarea` of the editor focused upon rendering, i. e. automatically focus `textarea`.

# Solution
There's no need to use a `ref`. Instead, you can use `textAreaProps` as you already mentioned. I'm not sure about which version you were talking, but at least in version 7.0.3 `textAreaProps` works like a charm.

## Code
Using the following gives you an automatic focus when

[2019-04-05 08:55] dnlfrst opened #168 "Using commands in preview throws "Uncaught TypeError: Cannot read property 'selectionStart' of null""
# Problem
Using any of the commands in the header while inside the preview tab throws an error:
[code]

# Steps to Reproduce

1. Open the [demo](http://andrerpena.me/react-mde/).
2. Click the `Preview` tab.
3. Click onto any button in the header or select a heading.
4. Observe the above error being thrown in the console.

# Possible Solution
Editing is not going to happen while inside the preview

[2019-04-10 21:42] andrerpena commented on #168
Fixed by https://github.com/andrerpena/react-mde/commit/5054649d2b28ab29ef10f89b85309d70d37f7cd4

[2019-04-10 21:42] #168 closed

[2019-04-10 21:56] andrerpena commented on #168
Because the behavior for Github is to hide the button bar, I'm doing exactly the same.
Thanks for reporting

[2019-04-12 07:11] blizzardzheng opened #171 "in latest npm version, the commands/strikethroughCommand.tsx is named wrong"
in react-mde@7.3.0, the file "commands/strikethroughCommand.tsx" has link error with Case problem. it should be named "strikeThroughCommand".

[2019-04-12 07:16] blizzardzheng commented on #171
hope to release a new fixed version?

[2019-04-12 10:02] andrerpena commented on #171
That is really weird because I cant find this string on the code. I published 7.3.1 to see if it solves the issue

[2019-04-12 10:03] andrerpena commented on #171
I will only be able to investigate at night

[2019-04-12 11:52] blizzardzheng commented on #171
in 7.3.0 build result:
![image](https://user-images.githubusercontent.com/11224451/56035147-e8c2d300-5d5b-11e9-896d-ca5a3b931f3c.png)
follow above,the filename doesnot match the link in code.
![image](https://user-images.githubusercontent.com/11224451/56035266-46efb600-5d5c-11e9-908b-29157853eeca.png)
then, it still wrong in 7.3.1

[2019-04-12 13:21] andrerpena commented on #171
Thanks. I was able to identify the problem thanks to your message. I
basically deleted the lib folder, built again and now it is there. I just
published another patch

On Fri, 12 Apr 2019, 13:52 Candy Zheng, <notifications@github.com> wrote:

[2019-04-13 09:11] andrerpena commented on #165
This is now fixed. Thanks for reporting

[2019-04-13 09:11] #165 closed

[2019-04-13 09:12] andrerpena commented on #165
classNames is no longer a dependency

[2019-04-29 12:09] geeksamu commented on #162
I had the same problem I looked in the demo examples and I found the solution
the short answer you should check this file
https://github.com/andrerpena/react-mde/blob/master/demo/App.tsx
and here's the code

[code]

[2019-05-09 04:45] nscozzaro opened #172 "Multiple line code with ```"
It would be great if this library supported multiple-line code using \```, like
[code]
For example, Github's MDE supports this, Slack, etc.

[2019-05-09 04:47] #172 closed

[2019-05-15 09:44] MukeshNegi7579 commented on #153
i am not able to switch write and preview tab and the functionalities that are related to these tabs

[2019-05-16 14:45] blu3printchris commented on #162
I had a similar problem, I fixed it but now when I switch to the Preview tab, my text just disappears??

[2019-05-28 20:19] #171 closed

[2019-05-28 20:20] andrerpena commented on #167
I just checked and apparently this has already been fixed

[2019-05-28 20:20] #167 closed

[2019-05-28 20:21] andrerpena commented on #164
Closing as no more details were given

[2019-05-28 20:21] #164 closed

[2019-05-28 20:22] andrerpena commented on #163
Right. I will do it now

[2019-05-28 20:59] #163 closed

[2019-05-28 21:07] andrerpena commented on #162
OK.. given the response on this thread, I will do exactly as you asked, now

[2019-05-28 21:50] andrerpena commented on #162
I just read https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html and having a controlled component seems better and cleaner than dealing with updating the state from new props.

I think that, as you said, the documentation is bad. If I make it clearer on the docs that this is a completely controlled component, and recommend using hooks, the problem will be mitigated

[2019-05-29 02:14] ericpinet commented on #171
The name is still wrong in 7.3.4.

I think that file: strike**through**Command.tsx should be named: strike**Through**Command.tsx (with a capital T)

[2019-05-29 06:55] qingsong81 commented on #163
Module not found: Error: Can't resolve './strikeThroughCommand' in ‘xxxx/proj/node_modules/react-mde/lib/js/commands'

[2019-05-29 10:40] lukezavrel commented on #171
It was correctly named in 7.3.2, but with 7.3.4, it is named incorrectly again

[2019-05-29 12:49] susas3 opened #174 "the commands/strikethroughCommand.tsx is named wrong"
The same problem has been resolved in 7.3.2 in https://github.com/andrerpena/react-mde/issues/171, but there is again in the latest version (7.3.4).

[2019-05-31 08:05] dcrtantuco commented on #174
same error happens on 7.3.2

[2019-06-02 20:26] andrerpena commented on #174
Thanks to @dcrtantuco fixed on https://github.com/andrerpena/react-mde/pull/175

[2019-06-02 20:26] #174 closed

[2019-06-02 20:26] andrerpena commented on #171
Thanks to @dcrtantuco fixed on #175

[2019-06-03 13:35] oskarleonard opened #176 "minEditorHeight and maxEditorHeight seems mixed up?"
`maxEditorHeight` doesnt do anything but `minEditorHeight` does.

[2019-06-04 06:10] andrerpena commented on #176
Hey. I just tested it here, setting max max height to 300 and you can see that you cannot stretch it to more than 300px height
https://codesandbox.io/embed/reactmde-latest-bbcsm

[2019-06-04 06:19] andrerpena opened #177 "Write React unit tests"

[2019-06-05 05:20] andrerpena commented on #161
Sorry for the delay but it is now released on 7.4

[2019-06-05 05:22] andrerpena commented on #161
Wow I really liked the idea of ReactMarkdown. The fact it has XSS protection is amazing. I will update the documentation now that it is possible. Thank you very much

[2019-06-05 05:23] andrerpena commented on #161
Fixed on https://github.com/andrerpena/react-mde/commit/4ce977855423cabfb8e2474186b2e64ff1e0873c

[2019-06-05 05:23] #161 closed

[2019-06-05 07:35] dcrtantuco commented on #177
I'll look into it!

[2019-06-05 08:43] andrerpena commented on #177
Thanks @dcrtantuco !

[2019-06-13 09:06] #176 closed

[2019-06-20 17:42] tibetsprague opened #178 "Prop to disable tab selection of toolbar buttons"
In my form i want to be able to tab from another field directly into the react-mde editor, but it is instead selecting and tabbing through the buttons in the toolbar (without any indication they are selected.) It would be ideal to have a prop that sets tabindex="-1" for all the buttons in the toolbar.

[2019-06-20 17:57] tibetsprague commented on #178
I'll add that I figured out how to mostly get this to work by adding { "tabIndex": -1 } to the buttonProps for all the commands in my toolbar, but that doesnt work for the Write/Preview tab buttons

[2019-06-25 09:46] fernandoabolafio opened #179 "Toolbar doesn't show up"
I've followed the guidelines for the installation but I found very strange that the toolbar doesn't appear for my following code:

[code]

This gives me this strange output with no toolbar:
![Screen Shot 2019-06-25 at 11 46 06](https://user-images.githubusercontent.com/14864439/60088362-d3e0c380-973e-11e9-83c1-3f3f13cdc6d8.png)

[2019-06-25 18:18] tibetsprague opened #180 "Keep resize grip for the preview mode too"
I want the size of the editor to stay the same whether it is in edit or preview mode, and to keep the resize grip in both modes.

[2019-06-26 19:28] andrerpena commented on #179
Can you please fork this CodeSandBox and try to reproduce it, please? https://codesandbox.io/s/vm1k17ymq0

[2019-06-26 19:29] andrerpena commented on #178
Ok. Makes sense. I will do it

[2019-06-26 20:23] andrerpena commented on #178
This does not solve your problem completely but it helps:

https://github.com/andrerpena/react-mde/releases/tag/7.5.0

[2019-06-26 20:26] andrerpena commented on #178
![image](https://user-images.githubusercontent.com/1581429/60212391-71ccaf00-9861-11e9-9b21-f2e33eb05576.png)

[2019-06-26 20:27] andrerpena commented on #178
As a next step, I'm making it possible to set default props to all buttons including the tabs, so it will be possible to set the tabindex to -1 on the tabs as well

[2019-06-26 20:49] tibetsprague commented on #178
@andrerpena thank you!

[2019-06-28 09:55] oskarleonard commented on #161
@andrerpena seems like that commit is not related to this issue.

How would one use this with ReactMarkdown. It now says in the readme "Starting from version 7.4, it is also possible to return a React Element from generateMarkdownPreview"
So the api now looks like:
`generateMarkdownPreview: (markdown: string) => Promise;`
or
`generateMarkdownPreview: React Element`

So an example with `ReactMarkdo

[2019-06-29 11:00] andrerpena commented on #161
@oskarleonard  It's the second one. This is so that you have the opportunity to make Ajax calls to resolve the promise, if you want

[2019-06-29 11:03] andrerpena commented on #161
@oskarleonard, also, I updated the ReadMe to make it clearer that you should always return a Promise

[2019-07-02 19:21] projecteon opened #181 "Impossible to create custom commands with Typescript"
Its impossible to create new/custom commands due to missing exports.

See the videCommand.ts in [CodeSandbox](https://codesandbox.io/s/vigorous-grass-bw5km)

[2019-07-02 19:31] projecteon opened #183 "Readonly mode displaying only html"
In version 5 there was an export of the ReactMdePreview controller. This is no longer exported. Could something similar be added in for displaying readonly modes without toolbars or tabs?

[2019-07-03 11:05] #181 closed

[2019-07-05 18:40] gborisl opened #185 "Why is draft-js still a peer dependency?"

[2019-07-06 12:43] andrerpena commented on #185
I feel a bit ashamed but I hadn't realized that since yesterday. Fixing it now

[2019-07-06 12:47] #185 closed

[2019-07-06 12:54] andrerpena commented on #183
I would be willing to add this feature if React-mde was responsible for generating the preview, but it is not. It is your responsibility to either use Showdown or a similar library to generate HTML out of the Markdown, or use [React Markdown](https://github.com/rexxars/react-markdown) as a preview component. The only reason I can see for you to use React-mde as a preview is to re-use the CSS. But

[2019-07-09 07:48] projecteon commented on #183
Not other than having to know and specify the correct classnames for the preview (with wrapper). If those changes its an unknown breaking change on package update.

[2019-07-09 08:22] andrerpena commented on #183
@projecteon . Fair enough. I will investigate if I can easily export the markdown viewer component so you can use it independently. I think it is the most elegant solution

[2019-07-10 07:07] projecteon commented on #183
That was what I had in mind :)
Thanks!

[2019-07-10 08:15] #148 closed

[2019-07-12 21:19] andrerpena commented on #179
Closing for inactivity

[2019-07-12 21:19] #179 closed

[2019-07-14 14:57] dcrtantuco commented on #177
@andrerpena hello sorry, I got busy, but I have the time to work on it now!
do you mind using @testing-library/react instead of enzyme?
I can revert it back if you don't want to, but I suggest giving it a try :)

I'll be working on this branch
https://github.com/dcrtantuco/react-mde/pull/1
Currently, I'm able to migrate to @testing-library and update current tests

[2019-07-14 14:58] dcrtantuco commented on #177
I also notice the current script for running test uses mocha, but I can't seem to find any trace of mocha, I updated it to use jest

[2019-07-18 17:53] andrerpena commented on #177
@dcrtantuco It's fine.

I never head of `react-testing-library` but OK, if you wrote the tests on it, it's fine. Let's merge it. And I really appreciate your effort

[2019-07-18 17:56] andrerpena commented on #177
I would prefer jest over mocha these days

[2019-08-05 10:10] maxyou opened #189 "Image upload support"
Now I'm reading imageCommand.tsx.
Before I try to do it, I hope to know if it's possible to add callback/api for upload image in current project framework?

[2019-08-13 20:40] andrerpena commented on #189
It is not possible but I have the intention to support that. I will update this thread as soon as I start working on it

[2019-08-14 07:58] soratobukuroneko opened #190 "Clicking on preview button gives a blank page"
I have the following nextjs page:
[code]
Editor bar is correctly shown but if I click on preview I get a blank page

[2019-09-01 01:03] andrewhead commented on #129
Thanks to everyone maintaining this awesome library. I needed to get a ref to the textarea so that I could automatically resize it when the text changed. I got a ref to the textarea like this:

[code]

I know the `ReactMde.textAreaRef` property isn't in the document API in the README, but it worked for me in a pinch and I don't necessarily need to keep in sync with future changes to react-mde, so

[2019-09-26 14:07] ckeiner opened #192 "Support ReactNodes for the Write and Preview Tab"
Currently, the "write" and "preview" tabs can only be customized via the `l18n` property which takes `string`s. Unfortunately, this means I can't use [React-Intl](https://github.com/formatjs/react-intl)'s components for the localisation nor can I add an arbitrary icon to these buttons. The former can be solved by using their [injection](https://github.com/formatjs/react-intl/blob/master/docs/API.m

[2019-10-01 11:29] jyutzio commented on #91
Could you please help me in regards to disabling preview mode? I've looked around the repo and I can't seem to figure it out.

[2019-10-07 20:01] MagnusBrzenk opened #193 "Needs option to NOT put Preview in dark theme"
I don't know why preview is dark theme by default. It means that I can't see the text in code blocks because both the background and text are near to white.

I would make light theme the default and, at best, create an option for dark theme (as well as to solve the clash of colors)

[2019-10-08 16:09] Android3000 commented on #161
Just to be clear since this post is linked on the main page, oskarleonard's second example is _almost_ there:

[code]
As it states in the docs, it must always return a promise.

[2019-11-09 16:38] emersonlaurentino opened #195 "Use defaultValue as value on Textarea"
Using `value` in textarea, I automatically need to use `onChange` tied to `setState` to add the new value. In my context, the initial value to be rendered to no textarea is provided by the server, while the user is editing the text, there is a debounce that gets the modifications sent to the server, I don't need to save those modifications locally, so I don't need to use the `setState`. Using `def

[2019-11-11 06:32] andrerpena commented on #195
@emersonlaurentino I'm sorry but could you clarify what exactly do you want?

[2019-11-11 06:33] andrerpena commented on #193
@MagnusBrzenk I will check now.

[2019-11-11 06:44] andrerpena commented on #193
@MagnusBrzenk, can you please let me know which OS and browser are you using? Just tested on Chrome on Mac, and there is no inconsistency in the color scheme:

![image](https://user-images.githubusercontent.com/1581429/68566590-12112200-0457-11ea-9c7e-3cac669cd5cc.png)

[2019-11-11 13:50] emersonlaurentino commented on #195
Yes, this is my code. The initial value of the editor is a data that is saved in my database, when I modify this data by the editor, I send the new data back to the database and I don't need to use the setState attached to my `handleChange`. However, when a textarea uses the `value` attribute it automatically requires it to use the `onChange` attribute to be responsible for updating the textarea v

[2019-11-12 00:10] jacargentina opened #197 "Feature: handle preview outside ReactMde; how to remove Write/Preview"
I want to handle my preview completely; i need to remove the write/preview tabs. If a PR can be accepted for this i'm open to contributing.

[2019-11-13 14:59] jacargentina commented on #197
@andrerpena can you take a look? Made the PR for this.

[2019-11-22 17:56] shahidify commented on #197
@jacargentina would you mind sharing how you're planning to handle preview separately (outside ReactMde)?

[2019-11-24 19:32] veeral-patel opened #199 "Configuring Showdown + React MDE for syntax highlighting"
Thank you for this project @andrerpena!

I'd like to write code blocks with syntax highlighting, like GitHub has, in React MDE:

[code]

I know this is the responsibility of Showdown, not React MDE, but you have an example of how to configure Showdown with React MDE to enable syntax highlighting?

[The demo](https://andrerpena.me/react-mde/), I noticed, doesn't support syntax highlighting.

[2019-11-24 19:36] veeral-patel opened #200 "Mentions support"
Hi @andrerpena! I noticed you opened an issue two years ago about adding mentions support:

https://github.com/andrerpena/react-mde/issues/14

However, looking at the README, I'm not sure how to setup mentions with React MDE. I'd like the mentions to look the way they do on GitHub.

Any pointers?

[2019-11-28 06:46] jasonlor opened #201 "React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object."
Using typescript with
    "react-markdown": "^4.2.2",
    "react-mde": "^7.6.2",

I'm seeing this error. It looks like it's been encountered previously.

My React Markdown code below is as follows:
[code]

If i remove ReactMde from my component, the error goes away.
I've attempted to remove ReactMarkdown and the error seems to be with ReactMde.

[2019-11-28 20:44] jasonlor commented on #201
Further debug, it looks like server side rendering of the component is fine.
Client side rendering returns this error, the object isn't being recognized as a React.component.

I'm using the following versions of react and react-dom.

[code]

[2019-11-29 11:10] AndySeymour2904 opened #202 "Allow passing of classes prop to add to different components"
Would be nice to have a classes object that can be passed to `<ReactMde />` such as;
[code]
SImilar to `material-ui` [here](https://material-ui.com/api/input/#css)

This would allow more customisation, currently trying to pass classes in `textAreaProps` will remove the other styling.

Happy to create a PR for this :)

[2019-11-30 11:52] Rillian-Grant opened #203 "Try adding to bit.dev to attract more users"

[2019-11-30 19:02] #201 closed

[2019-12-05 08:28] veeral-patel opened #204 "Auto-save"
Hi! I'd like to implement auto-save, like Google Docs. Any resources I can check out to implement this? Is this something that's doable with React MDE?

[2019-12-06 22:38] andrerpena commented on #197
@jacargentina Thank you so much for your contribution. It is now published on 7.7.0

[2019-12-06 22:38] #197 closed

[2019-12-06 22:38] andrerpena commented on #197
Fixed by: https://github.com/andrerpena/react-mde/pull/198

[2019-12-07 00:48] andrerpena commented on #204
React-mde is a controlled component. You receive an event when the text change and have to re-render it. You can also just alto save anything.

What do you think is missing in react-mde itself to help with that? I can only think of a visual indication of whether it has been saved or not, within the component itself, but we would have to think if it actually makes sense, and the best way to impleme

[2019-12-07 00:49] andrerpena commented on #201
Thanks for letting us know @jasonlor

[2019-12-07 22:23] andrerpena commented on #202
Hey @AndySeymour2904. I like the idea. I will implement it. Thank you

[2019-12-07 23:22] andrerpena commented on #203
Can you please elaborate? I've checked bit.dev but it was not immediately obvious what should I do

[2019-12-07 23:56] andrerpena commented on #202
Released on 7.8.0

[2019-12-07 23:56] #202 closed

[2019-12-08 00:02] andrerpena commented on #200
Now that I am back working on react-mde, I will prioritize it. I, myself, need support for this for a project I have that uses react-mde. I'm starting to work on this right now. To be honest, I'm not sure how you would implement it before I add built-in support. =/. As for the ETA, I will update this issue as soon as I know. Thanks for the suggestion.

[2019-12-08 00:07] andrerpena commented on #199
All I know is that Showdown allows you to set up a converter with options.

Example:

[code]

This converter, apparently, supports extensions. There is an extension for syntax highlighting but I have never tested it: https://www.npmjs.com/package/showdown-highlight

The converter object can be passed to react-mde. Check the demo: https://codesandbox.io/s/react-mde-latest-9i70s.

If this does not s

[2019-12-08 00:32] veeral-patel commented on #200
@andrerpena These articles might help you

https://blog.campvanilla.com/reactjs-input-trigger-github-twitter-mentions-8ad1d878110d

https://github.com/abinavseelan/react-input-trigger

https://github.com/signavio/react-mentions

[2019-12-08 14:14] andrerpena commented on #200
@veeral-patel Thank you very much. I'm following the medium article you suggested. Expect this feature to be released soon =)

[2019-12-09 08:37] veeral-patel commented on #200
@andrerpena No problem, how can I find out once it's ready to be used?

[2019-12-09 11:41] andrerpena commented on #200
So I don't know when it is going to be ready but probably 2 weeks.
I will send you a message here when I close this issue =)

[2019-12-09 18:41] veeral-patel commented on #200
@andrerpena Thank you very much!

[2019-12-09 20:00] #195 closed

[2019-12-10 10:09] vamsi981 opened #205 "react-mde with formik not updating Content"
Hi,

we tried including react-mde with formik "onchange" event not updating the content. Below is sample comde of formik with editor

`<Formik
                                validationSchema={pageCreationSchema}
                                onSubmit={this.handleSubmit}
                                initialValues={itemData}
                                enableReinitialize

[2019-12-10 13:06] andrerpena commented on #205
Can you please clarify what is not working?

[2019-12-11 02:24] ericchernuka commented on #205
I believe if you’re using `handleChange` you need to provide it the field name it’s changing. So you’ll need to use `handleChange(‘markdown')`. This should work since the onChange handler from react-mde returns only the value instead of an event.

[2019-12-14 16:53] andrerpena commented on #204
Please feel free to reopen it if you need further help

[2019-12-14 16:53] #204 closed

[2019-12-14 16:54] andrerpena commented on #203
Closing as no additional information was provided

[2019-12-14 16:54] #203 closed

[2019-12-14 16:57] andrerpena commented on #189
I am working on mentions now. This will be the next one

[2019-12-14 17:00] andrerpena opened #207 "Match the Github design as much as possible"
I want react-mde to look like the Github editor as much as possible

## Style 1

![image](https://user-images.githubusercontent.com/1581429/71380722-a03d0400-25d0-11ea-8da3-684e802dd5a7.png)

## Style 2

![image](https://user-images.githubusercontent.com/1581429/70851918-c4e00000-1e9b-11ea-9e58-d304f93cb92b.png)

## Style 2.1

![image](https://user-images.githubusercontent.com/1581429/71411871-678

[2019-12-15 19:23] andrerpena commented on #205
@vamsi981 does that solve your problem?

[2019-12-15 19:24] andrerpena commented on #199
Please let me know if you need more help

[2019-12-15 19:24] #199 closed

[2019-12-15 19:24] andrerpena commented on #193
Please reopen if needed

[2019-12-15 19:24] #193 closed

[2019-12-15 19:48] andrerpena commented on #183
I'm now exporting all components. Please feel free to open it again in case that does not solve your problem. By the way, sorry but only now I resumed working on React-mde

Commit: https://github.com/andrerpena/react-mde/commit/59a6939391753b88516d11a5dc0f98c52e325818

[2019-12-15 19:48] #183 closed

[2019-12-18 10:03] andrerpena commented on #205
Please feel free to reopen if needed

[2019-12-18 10:03] #205 closed

[2019-12-22 11:42] andrerpena commented on #200
Done. Enjoy!

[2019-12-22 11:42] #200 closed

[2019-12-22 19:13] veeral-patel commented on #200
Thank you @andrerpena! Is there an easy way to get all the mentioned usernames from a React MDE textarea?

While I could write a regex which does this, I'm wondering if there's an easier solution.

[2019-12-23 13:03] andrerpena commented on #200
Hi @veeral-patel I don't think there is an easier solution. If you don't write the Regex, I will have to right something similar and I don't think it will be generic enough to meet all users need. In this case, you better handle it on the application layer.

[2019-12-23 16:35] veeral-patel commented on #200
@andrerpena Got it, no worries!

[2019-12-30 15:41] jacargentina opened #208 "How to use full screen/page for better documentation authoring"
I cant find any way to:
- Disable height "grip"
- Make editor full page height

This way the editing is more "document editor" like. Maybe i'm missing something?

[2020-01-01 16:04] andrerpena commented on #208
I didn't implement a way to disable the height grip, but that is a good idea.. I will do it. After that, making the editor full height will be a matter of adding custom CSS classes, which is already possible.

I will update this issue when it is completed.

[2020-01-05 13:17] aaronhayes commented on #189
@andrerpena  Just wondering how you are planning on implementing this? Using some sort of uploader such as [Uppy](https://uppy.io/)?

[2020-01-05 16:04] andrerpena commented on #189
Hey @aaronhayes. No.. I intend to call a callback and expect a promise that should resource to the text that I should insert in the cursor position. I also intend to update a status message saying that the update is in progress, and disable the textarea while the promise resolves. This way users can do whatever they want.

However, I can investigate this library, make sure it would work with it an

[2020-01-05 22:39] aaronhayes commented on #189
@andrerpena that makes sense. I think your approach is the best option for supporting most use case.

It would be cool to have support for 3rd party uploads to deal with importing from cloud storage, handling resumable uploads, etc. automatically. Perhaps investigate after callback/promise approach 👍

[2020-01-06 12:58] deligent-ant commented on #189
Image upload support？ is ready???  how to use

[2020-01-07 08:02] deligent-ant opened #210 "add custom commands,also include default commands"
in some case, I just want to add my custom command at the toolbar ，if I use commands props,i have to list all the default command。
[code]
so unfriendly. I just want to add one command ,do not change default.  so do the getIcons props， if i just want to change one icon,what should i do for the default icon.....???

[2020-01-09 00:09] fgblomqvist opened #211 "Add release tags for > 7.8.0"
This is a great and much-needed project, love the plug'n'play-style implementation. Looking forward to the design updates over time too!

Noticed that there are no releases on GitHub for versions newer than 7.8.0. Would be helpful if you would add those (along with some simple changelogs)! The main reason is to make it easier to understand what has changed with each update (so while these tags won

[2020-01-11 13:21] mitushakiran commented on #71
k

[2020-01-23 05:53] ankurnarkhede opened #212 "Cannot perform undo/redo once switching to preview"
Steps to reproduce:

1. Write any text in the editor.
2. Go to preview. You find something wrong and want to undo it.
3. Go back to edit mode and press Ctrl+Z. It won't work.

This issue is probably because of the textarea is replaced in the DOM, which erases the undo history for the textarea.

[2020-01-25 14:18] yangfreezy opened #213 "Styles aren't loading for some reason"
Everything is working as expected except for the CSS and SVG icons loading for the react-mde.

How do I add styling to the ReactMde component when rendering it as a component in react?

[code]

[2020-01-25 14:22] yangfreezy commented on #213
Ends up looking something like this
<img width="648" alt="Screen Shot 2020-01-25 at 10 21 34 PM" src="https://user-images.githubusercontent.com/32309350/73122545-2201c200-3fc1-11ea-9ad7-f8da25000e62.png">

[2020-01-26 03:27] yangfreezy commented on #213
I think the issue is likely within the scope of css loaders, next.js and my webpack config - feel free to close this. Just was wondering if there was any way to manually apply the stylings as a workaround.

[2020-01-26 10:14] yangfreezy commented on #213
@andrerpena any ideas as to why this might be happening? is there a way for me to manually apply the styling

[2020-02-01 07:48] PatrissolJuns commented on #190
I have the same problem please I need help

[2020-02-03 03:19] #213 closed

[2020-02-04 08:49] Galaco opened #215 "Add Header dropdown item labels to l18n"
At present I am able to provide translations for the `Write` and `Preview` buttons. I cannot however provide translations for the Header dropdown items `Header 1 - 4`.

It would be useful if these 4 strings could be added to l18n to allow for more complete localization of the ui.

[2020-02-06 08:53] Galaco commented on #215
Closing this as we can duplicate the original command and implement localization in it ourselves

[2020-02-06 08:53] #215 closed

[2020-02-07 20:57] andrerpena commented on #212
I will fix now

[2020-02-07 22:20] andrerpena commented on #212
Fixed. Please reopen if you still find the problem

[2020-02-07 22:22] andrerpena commented on #211
Thanks for the kind words. I will make an effort to keep release tags updated. I added release info for 8.0.0 and 8.0.2. https://github.com/andrerpena/react-mde/releases

[2020-02-07 22:22] #211 closed

[2020-02-08 03:00] ankurnarkhede commented on #212
@andrerpena , as per I tried with react-mde v8.0.2, I still couldn't perform the undo, redo operations.

[2020-02-08 12:21] andrerpena commented on #212
@ankurnarkhede , here is a Codesandbox already updated with the 8.0.2, you can see you can undo: https://codesandbox.io/s/react-mde-latest-bm6p3

The problem was that I was destroying the `textarea` and recreating everytime you would switch the tabs. This was causing the state to be lost. After I saw your message, I thought something went wrong on the publishing part, but I confirmed everything wa

[2020-02-08 12:30] andrerpena commented on #210
I understand your pain, of having to re-add default commands manually.
We can discuss an API that would be better. You need to not only be able to add a command but also to re-order and remove existing commands. The solution should be generic.

Maybe a less verbose way, would be to refer to default commands by name (string), instead of having to import them. Image "ordered-list" is a string recogn

[2020-02-08 12:34] ankurnarkhede commented on #212
Thanks, @andrerpena.  The undo operation works fine now on 8.0.2.
It wasn't working for me earlier, I tried on Chrome, it worked! Seems it's not working on Firefox.

[2020-02-08 12:39] andrerpena commented on #212
@ankurnarkhede Thanks for the information. I will check out Firefox

[2020-02-08 12:50] andrerpena commented on #212
On Firefox, the Github editor also has a problem with undo after you switch to Preview, and also after you change the text through a command. Apparently, this is a known issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1220696

Because the goal of react-mde is to achieve feature parity with Github, I will not work on problems that also exist on the Github editor, assuming that, if the problem e

[2020-02-08 12:50] #212 closed

[2020-02-09 14:29] andrerpena commented on #190
Would you please try to debug it, inspect the console for errors, or give me any information to make it easier to pinpoint the problem? If you could create a minimal Github project, where this bug occurs, and send me a link, that would be fantastic

[2020-02-09 14:32] andrerpena commented on #180
That is a very reasonable request, however, because of my limited capacity to work on this project, I decided to limit the scope of this project to what the Github editor provides and the way it works. The Github editor does not have this feature, so I am not willing to implement it. I would suggest you creating your own external react-mde editor and reuse the inner components, like the editor, pr

[2020-02-09 14:32] #180 closed

[2020-02-09 14:33] #177 closed

[2020-02-09 14:34] #144 closed

[2020-02-09 14:34] #95 closed

[2020-02-09 14:38] andrerpena commented on #90
Closing because react-mde does not even use Draft.js anymore

[2020-02-09 14:38] andrerpena commented on #85
No dependency on font awesome anymore

[2020-02-09 14:39] #85 closed

[2020-02-09 14:40] andrerpena commented on #70
Closed because it is too old now

[2020-02-09 14:40] #70 closed

[2020-02-09 14:41] #109 closed

[2020-02-09 14:42] andrerpena commented on #132
Now react-mde is fully controlled

[2020-02-09 14:42] #132 closed

[2020-02-09 14:44] andrerpena commented on #134
I'm not using Draft state anymore so I assume this problem is no longer relevant

[2020-02-09 14:44] #134 closed

[2020-02-09 14:45] andrerpena commented on #137
Unfortunately, because of time limitation, I have to restrict the scope of this project to what github provides. There are no plans to support video.

[2020-02-09 14:45] #137 closed

[2020-02-11 05:39] #90 closed

[2020-02-11 11:01] deligent-ant commented on #210
thanks very much, i had solved it by your code
[code]
by this wya, I can get the default command and icon,  i suggets dear author to display this api in the readme,so users can know it.

[2020-02-11 11:08] deligent-ant commented on #189
i solved it by change the defult icon of 'image' to my custom button, by this button,i can do anything  i do when the icon click.by the way,i remove the default command of image.part of my code
[code]

[2020-03-03 19:11] tibetsprague commented on #178
any update on this @andrerpena ?

[2020-03-03 20:11] andrerpena commented on #178
@tibetsprague Sorry. Releasing a version with this feature in 30 minutes.. Hold on!

[2020-03-03 21:32] #192 closed

[2020-03-03 21:32] #178 closed

[2020-03-03 21:43] andrerpena commented on #178
![image](https://user-images.githubusercontent.com/1581429/75822484-54f95b80-5da0-11ea-8c68-ab9a4caafc44.png)

[2020-03-06 03:16] jtzikas opened #217 "Custom rendering template SuggestionsDropdown"
Looking at the code it would be possible quite easy to add support for custom rendering template in the SugestionsDropdown.

It could be a props param in the `ReactMde` that takes a callback function as its value with the suggested item as argument.
[code]

This could be used in the `SuggestionsDropdown` that eventually consumes the rendering template:
[code]
I believe that by doing so, the develo

[2020-03-14 09:50] hungdev opened #219 "Show line number option"
Thank for your great lib.
But could you tell me how to show line number like this:
![image](https://user-images.githubusercontent.com/12009276/76679528-eb851280-6613-11ea-8d59-f076ae5a2343.png)
thank you <3

[2020-03-18 17:01] jakefellnm opened #221 "Tooltips not working"

[2020-03-23 09:20] canpoyrazoglu opened #223 "Module not found: Can't resolve 'react-mde/lib/definitions/commands'"
[code]

I'm using React-MDE and I'm trying to customize the commands. With default commands, it works. When I try to import the commands to customize:

[code]

I get the following error:

`Module not found: Can't resolve 'react-mde/lib/definitions/commands'`

When I remove references to commands, it works again. What am I doing wrong?

[2020-03-23 09:28] canpoyrazoglu commented on #223
Oops, Vscode was apparently suggesting me incorrect imports. I've switched to the recommended way of using:

[code]

And it worked.

[2020-03-23 09:28] #223 closed

[2020-03-23 09:46] ivanbanov opened #224 "Suggestions showing up in the wrong place"
The suggestions dropdown only takes the correct place if the container didnt scroll yet.
It's probably happening because the dropdown position is not considering the container scroll position

![bug](https://user-images.githubusercontent.com/2953018/77303565-77253000-6cf3-11ea-8e8b-5bd46908c05f.gif)

[2020-03-31 18:36] Eugleo commented on #124
@yehudamakarov I'd like to be able to hide some of the icons. Is that currently possible?

[2020-04-05 23:49] vitorjordao opened #226 "Heading IDs"
## Not works "Heading IDs" feature:

https://www.markdownguide.org/extended-syntax/#heading-ids

[2020-04-15 10:28] ivanbanov opened #228 "Custom textAreaRef breaks suggestions"
Using a custom textAreaRef breaks the TextArea handlers used to control suggestions.
I'd say that ideally, the TextArea should look for the ref in the TextArea props as well.
Could probably be done here https://github.com/andrerpena/react-mde/blob/master/src/components/TextArea.tsx#L75-L81

[2020-04-19 05:48] phanatuan opened #229 "TextArea height to match content-height"
Hi @andrerpena ,

I am trying to make the following work: Removing the scrolling bar for the `textarea` input in tab "Write". However, there is no way for `textarea` to accept the css `max-height: max-content`.

Is there a way to implement this built in?

Thanks,

Tuan

[2020-04-19 13:23] phanatuan commented on #189
Is there any update on the upload functionality? Thanks :)

[2020-04-19 14:45] andrerpena commented on #228
Hey @ivanbanov . Thanks for reporting. I will look into this soon

[2020-04-19 14:51] andrerpena commented on #228
@ivanbanov

What do you mean by "custom textAreaRef".. Can you clarify a bit more what the problem is?

[2020-04-19 14:54] andrerpena opened #230 "Updating the markdown while the "preview" tab is selected does not updates the preview"
This is because we are updating the preview on the `componentDidMount`, which does not re-trigger if the component is re-rendered

[2020-04-19 18:33] andrerpena commented on #230
Fixed here: https://github.com/andrerpena/react-mde/pull/225

[2020-04-19 18:33] #230 closed

[2020-04-19 18:40] andrerpena commented on #229
Hey @phanatuan . As I understand it, if you remove the scrollbar, this means you would want the height to auto-grow. Correct? There as a PR for that once, https://github.com/andrerpena/react-mde/pull/209, that unfortunately I rejected because, due to my limited time, I have to limit the scope of the editor.

I think the best solution would be you utilising the building blocks of ReactMde but imple

[2020-04-19 21:43] n1ru4l commented on #189
@phanatuan Check the code example here: https://github.com/andrerpena/react-mde/pull/227#issue-402332837

[2020-04-19 21:48] n1ru4l opened #232 "Text Highlighting Support"
This might be out of scope as the GitHub editor does not allow this.

However, it might be possible to still allow this in user-land by by providing an API for  injecting react nodes into the TextArea component (that can then be positioned behind the `textarea` component.

@andrerpena Please let me know how you think about this. If you agree I have interest in implementing the API.

____________

[2020-04-19 22:10] n1ru4l commented on #232
The easiest solution would be to allow providing a component that will be used instead of textarea and accepts the same properties.

[2020-04-20 06:14] n1ru4l commented on #232
I quickly hacked together something: https://github.com/andrerpena/react-mde/commit/574d457eb6ad34f2c8d556cd17b6c5e43fc9dee4

[2020-04-21 02:23] antonioduarte opened #233 "Add hotkeys for text formatting in the editor"
This is allowed by the GitHub editor and its pretty handy.

Some examples are:

<kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>P</kbd>  - Toggle `Write/Preview`

<kbd>CTRL</kbd> + <kbd>b</kbd> - Add **bold** text

<kbd>CTRL</kbd> + <kbd>i</kbd> - Add *italic* text

Are you planning to support them? Thanks!

[2020-04-21 21:01] andrerpena commented on #233
I like the idea.. :)

[2020-04-26 04:09] phanatuan commented on #189
Hi @n1ru4l ,

Thanks for the insight. Your code example works well! I have a bit of problem to customize your example to my workflow:

A bit about my intended flow for image upload:

1) User clicks on the Image Upload Icon
2) A modal appears.
3) User selects either A) existing image (in the system) or B) call API to upload image to S3 - Both options returns an `imageURL` string.
4) Editor will sho

[2020-04-26 18:36] n1ru4l commented on #189
@phanatuan https://github.com/dungeon-revealer/dungeon-revealer/pull/370/commits/65d1d7f0f734da12f79c550501e484a57c6ed73a#diff-fe6cda5700d3c911d443751cf211b56eR9-R22

Open a Modal instead of triggering the click on the input file?

I am also currently writing a blog post regarding this, so if you wait a bit I can share it with you.

[2020-04-27 06:02] #232 closed

[2020-04-27 15:19] #229 closed

[2020-05-01 07:50] dannorcott opened #242 "componentWillReceiveProps has been renamed message"
Hi - is everyone else getting "Warning: componentWillReceiveProps has been renamed, and is not recommended for use" when switching over to preview tab?

<img width="1419" alt="Screenshot 2020-05-01 at 08 49 31" src="https://user-images.githubusercontent.com/52197623/80791206-c7ac6a80-8b88-11ea-93f0-f40b341dcfcf.png">

[2020-05-05 06:02] ForumT commented on #13
Any progress on this1?

[2020-05-05 19:24] andrerpena commented on #189
Good news is that I got Cmd+V image upload support working on my branch.
https://github.com/andrerpena/react-mde/pull/243
I don't plan to have a UI for image upload because I am planning for feature parity with Github.
Tomorrow I will review the breaking changes for 10.0.0 (Shouldn't be many), create the Github release, update the documentation and publish the new 10.0.0 version

[2020-05-05 20:48] andrerpena commented on #13
I am currently working on this PR for image upload https://github.com/andrerpena/react-mde/pull/243 and it will probably take a couple of days more.. Maybe I can take this afterwards

[2020-05-06 03:56] andrerpena commented on #242
Yes this is annoying. This PR https://github.com/andrerpena/react-mde/pull/231 should fix it but I am focusing in releasing 10.0.0 with save image support.. I will go back and fix it soon

[2020-05-06 07:17] dannorcott commented on #242
Thank you, that's great to hear. Component much appreciated :)

[2020-05-06 07:17] dannorcott commented on #242
Hah pressed the wrong button :)

[2020-05-06 07:38] serranoarevalo commented on #189
@andrerpena Awesome news! Thanks a lot!
Will it support drag and drop as well?

[2020-05-06 09:54] andrerpena commented on #189
@serranoarevalo :( Not on this release, but it makes sense to add it. Now that the `save-image` command is already implemented, it should be much easier to just add drag and drop support.

[2020-05-06 09:55] andrerpena commented on #189
By the way.. 10.0.3 is already there.. Documentation is still a bit lacky because I didnt have time to update everything.. but the Codesandbox demos on the top of the Readme should get you going

[2020-05-06 09:56] serranoarevalo commented on #189
@andrerpena  Thanks! I will check it out. Thank you for your work!

[2020-05-08 12:13] bastones opened #244 "List items + unnecessary line breaks; does not handle sentences with multiple words"
**Issue 1:**

I have noticed when using a toolbar command that triggers `makeList()` (such as unordered lists), an unnecessary extra line is added each time, caused by:

[code]

**See:** lib/js/commands/listCommands.js

As soon as I remove `+ 1` from both variables, the line breaks are added after the current line as expected.

I realise GitHub has this strange behaviour as well, but it's just ann

[2020-05-12 07:20] haszari commented on #197
Awesome - I was looking for this feature too! Would be great to have this documented e.g. in the readme too :)

[2020-05-18 12:25] antonioduarte commented on #233
@andrerpena I saw you added some hotkeys on v10. Thank you!

[2020-05-20 02:01] roeljohn opened #245 "onChange not firing why?"
even the onChange(this.handleChange) is not firing too
![image](https://user-images.githubusercontent.com/8347743/82396603-de0b5f00-9a80-11ea-847d-7a8750c4d0bc.png)

[2020-05-20 02:09] roeljohn commented on #245
close I realize I testing in staging not on local lol

[2020-05-20 02:09] #245 closed

[2020-06-05 04:24] roeljohn opened #247 "use onBlur?"

[2020-06-17 08:23] dannorcott opened #249 "CSS not rendering properly on first load"
Hi, thanks for the component - I have a small problem. On first load, often the CSS isn't rendered:

<img width="342" alt="Screenshot 2020-06-17 at 09 21 17" src="https://user-images.githubusercontent.com/52197623/84874065-f9678b00-b07b-11ea-87f4-fcfe30cca90e.png">

A refresh clears it up, and there's nothing in the console. I'm importing the CSS with:

[code]

Is there any obvious thing that migh

[2020-06-23 22:10] DaskJeeves commented on #247
I am also having this issue of the editor not triggering the onBlur function when clicking away. Anyway successfully solved this?

[2020-06-24 00:35] roeljohn commented on #247
@DaskJeeves since we don't have onBlur. I just put pass data in state after I click submit in button. But I realize onChange not really my issue why my form slow lol it turns out the issue is the way I put the instances in each form in ant design component lol.

[2020-06-28 09:15] andrerpena commented on #249
Thanks for reporting. I dont think this is being caused by React-mde itself. My bet is that there is something weird with the way CSS importing is implemented on your project

[2020-06-28 09:16] deligent-ant opened #250 "Parser.extend is not a function"
Parser.extend is not a function. when in ssr

[2020-06-28 09:17] andrerpena commented on #250
Thanks for reporting. I will test with Next.js and see what happens

[2020-06-28 09:41] andrerpena commented on #247
I made this sandbox as an example of how onBlur should work and apparently it is working..
https://codesandbox.io/s/react-typescript-n6z1u?file=/src/index.tsx

[2020-06-28 09:49] andrerpena opened #251 "Investigate generating documentation from react-docgen-typescript"
Currently it is really painful to make sure the props described on the readme file are in sync. Additionally, it is not easy to properly describe types.

Investigate using https://github.com/styleguidist/react-docgen-typescript

[2020-06-28 09:59] deligent-ant commented on #250
thank you very much，the problem may caused by the package @mdx-js/runtime .but i still hope you can help me.
i combind your package with @mdx-js/runtime.

[code]

[2020-06-29 08:51] dannorcott commented on #249
Thanks for the response - if I get to the bottom of it I'll post the fix here, in case the same thing happens to anyone else.

[2020-07-02 16:39] LolnationCH opened #252 "getDefaultCommandMap isn't defined"
I was upgrading from 8.2.0 to 10.1.0.

For some reason, the command-orchestrator wasn't able to find the getDefaultCommandMap.

Solution : Remove all node modules and re-install, now it works.

P.S : Creating this issue just in case someone gets stuck like I was and can easily find this solution.

[2020-07-02 16:39] #252 closed

[2020-07-06 07:32] bravnaa opened #253 "Substitute for command children[]?"
As of may 2. a commit to remove the children array property from commands, allowing for a drop-down menu, was pushed. As of now i am unable to see a way to implement such a dropdown menu to execute subcommands of my own. Why was this feature removed, and does there currently exist a substitute for it?

[2020-07-06 15:51] victorpavlenko opened #254 "How to add with getDefaultCommandMap ?"

[2020-07-08 10:04] qburst-dhinsha opened #255 "Adding link is not working in the following scenario"
Suppose we have added a URL directly to the `Write` part. After that, by selecting the URL, we have clicked the `add a link` button, then `Write` part will be as follows,
`[](https://www.npmjs.com/package/react-mde)`

hence its does not show the actual page on clicking the link from `Preview` part

[2020-07-10 12:53] leanaAlq opened #256 "Arabic Terms"
Thank you for this light, well written library. I saw that the library is written with consideration of i18n. It would be great to add Arabic terms and have language props available.

[2020-07-16 00:58] aRLiciATENTionKe opened #258 "Ability to reset editor height after initial load"
Hi, I have a use case where I need the editor to match the height of something else on the screen. As the user adjusts the height of their browser I have other components updating their height to fit in the window and I'd like the react-mde component to do the same.

I was hoping you might be able to catch when the `initialEditorHeight` or `minEditorHeight` props do not match `state.editorHeight`

[2020-07-23 10:29] abulyshkin opened #260 "Command.buttonComponentClass doesn't work"
looks like this property doesn't work and has no effect on a rendered button in toolbar.
either I'm missing something either it is not passed to ToolbarButton component and always undefined in `const finalButtonComponent = buttonComponentClass || "button";`

"react-mde": "10.1.0"

[2020-07-23 11:07] abulyshkin commented on #260
If you add line `buttonComponentClass={c.buttonComponentClass}` to Toolbar.tsx at line 89 and `buttonComponentClass: command.buttonComponentClass` to ReactMde.tsx at line 211 that should fix the issue

[2020-07-26 08:39] ad1992 opened #262 "Can we have preview side by side instead of tab ?"
Thank you @andrerpena for the awesome library.
It would be great if preview can be seen side by side instead of switching tabs.

[2020-07-26 11:07] ivanbanov commented on #254
[code]

https://github.com/andrerpena/react-mde/blob/master/src/index.tsx#L31-L34

:)

[2020-07-26 21:49] ivanbanov commented on #247
@andrerpena it can still be "broken", see #263

[2020-08-06 07:50] lunalusy commented on #81
hi，Do you support toolip？

[2020-08-07 20:25] fortytw2 commented on #253
Just encountered the same issue going through and updating all of our deps. Seems like the demo headerCommand was also significantly reduced in functionality.

Would a patch to restore this feature be welcome?

[2020-08-10 05:28] thangbn opened #266 "wrong documentation"
**textAreaProps** prop in documentation is obsolete, the correct way to pass text area props is
[code]

[2020-08-10 13:13] bravnaa commented on #253
In my use case i got away with settling for version 9.1, as this version still includes the children[] array. However this is not a long-term sound solution and i would appreciate if this is taken into consideration in future updates.

[2020-08-11 02:08] jacargentina commented on #208
@andrerpena can i help with this?

[2020-08-11 21:31] #224 closed

[2020-08-11 21:32] andrerpena commented on #224
@ivanbanov Thanks a lot for your contribution

[2020-08-11 22:37] andrerpena commented on #266
Thanks for raising this @thangbn . I just merged this PR which removed the `textAreaProps` https://github.com/andrerpena/react-mde/pull/259

[2020-08-11 22:39] #266 closed

[2020-08-11 22:40] andrerpena commented on #262
Thanks. I am really sorry but I have to reject this proposal. Some people want the preview on the side. Some people below like on Stackoverflow. Some poeple as a tab, like Github.

The only way I can possibly maintain this library, which is already really hard, is by limiting the scope. I decided to limit the scope to Github's MD editor.

[2020-08-11 22:40] #262 closed

[2020-08-11 22:52] andrerpena commented on #260
On this commit https://github.com/andrerpena/react-mde/commit/3c24e15aad43cc9da1aa0245764cc156a1a6c9f2 I made the changes you suggested. Sorry for that. It should be there on version 10.2.1

[2020-08-11 22:53] andrerpena commented on #260
but to be very honest I didn't test this myself.. just passed down the prop which apparently didn't cause any problem

[2020-08-11 22:54] andrerpena commented on #256
Would you be able to tell me how this file should look like in Arabic? https://github.com/andrerpena/react-mde/blob/master/src/l18n/react-mde.en.ts

[2020-08-11 23:03] andrerpena commented on #255
I am not really sure what the problem is. I just checked the generated link for `[react-mde](https://www.npmjs.com/package/react-mde)` and it does work.

[2020-08-12 05:23] qburst-dhinsha commented on #255
@andrerpena thanks for your response.
I'm currently using version 8.3.0.
If I follow the above steps in version 8.3.0, `write` section will be as follows,
[https://www.npmjs.com/package/react-mde](url)

Following demo producing the same issue
https://andrerpena.me/react-mde/
Add a URL directly to the `Write` part. After that, by selecting the URL, click the `add a link` button, then `Write` part w

[2020-08-12 18:17] freddymercury opened #267 "onBlur event for ReactMDE"
Hi - I do not see an onBlur property where I can set an onBlur event handler for the ReactMDE.
I am unable to arbitrarily attach a handler like I would expect to be able to do on a DOM element.

  Is this supported?  If not, will it be?  Is there an alternative?

[2020-08-13 01:23] jacargentina commented on #189
@andrerpena will you look at a PR for drag and drop support?

[2020-08-13 13:38] jacargentina commented on #189
@andrerpena Available as PR on #268

[2020-08-14 11:24] ken210 opened #269 "Issues with Snowpack (maybe esm?)"
I tried to port one small app from webpack to snowpack and found an issue with react-mde.

### Steps to reproduce:

Create a [react/typescript snowpack](https://github.com/pikapkg/snowpack/tree/master/packages/@snowpack/app-template-react-typescript) app
`npx create-snowpack-app app --template @snowpack/app-template-react-typescript`

Follow the example in [readme file](https://github.com/andrerpe

[2020-08-14 11:32] ken210 commented on #269
Maybe related to https://github.com/andrerpena/react-mde/issues/250

[2020-08-14 14:19] leanaAlq commented on #256
sure thing!
write: "تحرير",
preview: "معاينة",
uploadingImage: "جاري رفع الصور..."

[2020-08-16 20:28] Timer91 commented on #91
@andrerpena i agree with @jyutzio, I also can't find `layout` prop with `noPreview` in the latest version.

It seems to be only available in this [file](https://github.com/andrerpena/react-mde/blob/master/docs-md/5-readme.md) ...

[2020-08-16 21:34] andrerpena commented on #256
Thank you! I will add it

[2020-08-16 21:43] andrerpena commented on #269
Hey @ken210.
As I understand you have 2 problems:
1. I should stop importing from `..`. Ok I can do that.
1. The default export is not working and you don't know why.

Is it OK if I just resolve (1) based on your fork?

[2020-08-17 00:12] jacargentina commented on #208
@andrerpena PR available for this. Cheers!

[2020-08-17 07:41] ken210 commented on #269
HI @andrerpena I Believe so yes.

It's is not a definitive fix for ESM as it seems, but as least people can import the lib.

Sounds like an improvement 😅

[2020-08-19 18:39] grayds opened #273 "Header types"
The 'header' toolbarCommand defaults to "###". Is it possible to make the default size customizable, or have multiple header buttons?

[2020-08-20 20:44] #208 closed

[2020-08-23 20:39] jacargentina commented on #273
@gradys Try using  https://www.npmjs.com/package/@javier.alejandro.castro/react-mde
Cheers!

[2020-08-24 16:35] jacargentina commented on #253
Hey! I've created a for with some extra features, and this is also included I think; maybe you can try and post any issues or things needed.
https://jacargentina.github.io/react-mde/

[2020-08-25 10:10] #260 closed

[2020-09-02 11:05] deligent-ant opened #275 "image paste,md format"
now,react-mde:
[code]
but we hope

[code]

[2020-09-03 17:52] andrerpena commented on #275
React-mde displays`![image](https://picsum.photos/300)` because this is what the Github editor does. Can you elaborate a bit on what the problem is?

[2020-09-06 10:28] deligent-ant commented on #275
ok,when we upload a file,the file name is `good.jpg` and the url is `https://picsum.photos/300`.and we hope the  md is

![good.jpg](https://picsum.photos/300),  but we get ![image](https://picsum.photos/300)good.jpg . and we have to delete word good.jpg in editor.

at the same time,can we format the md customized with the file url

[2020-09-07 19:26] lsurma commented on #273
@grayds Take a look here: https://codesandbox.io/s/interesting-diffie-3umuz?file=/src/App.tsx

You can register custom commands (and replace existing ones like i did in my example).
Code in `HeaderCommand` is taken from: https://github.com/andrerpena/react-mde/blob/master/src/commands/default-commands/headerCommand.tsx

[2020-09-14 21:21] andrerpena commented on #275
I am sorry that I don't understand what you mean.. you sad the text `good.jpg` was added afterwards, like this?

[code]

I am trying to reproduce this without success

[2020-09-16 00:43] timurcatakli opened #276 "Possible bug in custom command demo file..."
Hello,
CodeSandbox Demo TSX - Custom command > index.tsx line 48 has the following code

[code]

But this is not working for me. After some research I figured out that there is another param called "api". So I changed the code as follows and it worked. Should we also made the same change to the demo file?

[code]

I might be totally off, just let me know if I am. Thanks

[2020-09-30 15:36] caionakai opened #277 "l18n props"
please explain better how this props works.. thx

[2020-10-07 20:58] prem1835 opened #279 "Placeholder property on ReactMde component"
I saw that there'e no option for inserting placeholder in textarea tag, so I want to know if there's some work related to it happening or can I implement this ?

I'm working on a text editor and there's no option for placeholder I needed, so I thought about asking here!

I'm kind of new to open source contributions so Can I work on this ?

[2020-10-08 11:52] prem1835 commented on #279
Sorry my bad. we can pass placeholder to textarea using childProps

[2020-10-08 11:52] #279 closed

[2020-10-11 17:53] csdietrich opened #280 "Move trailing whitespace on command"
Type in:

If you double click the `test` text the browser will include the trailing space. If you then click one of the formatting commands like bold or italic you will note that selected text is preserved exactly as it was selected:

However, when you run the preview, the bolding formatting isn't displayed. This makes sense because this isn't valid md format.

You will note that on GitHub and Sta

[2020-11-25 20:47] AleksaC commented on #205
Using `handleChange` didn't work for me. Instead I used [`setFieldValue`](https://formik.org/docs/api/formik#setfieldvalue-field-string-value-any-shouldvalidate-boolean--void). It would go like this for the example above:
[code]

[2020-11-27 02:59] thaichor commented on #277
They are pretty obvious. You can override the texts with them.

[2020-12-03 09:36] Lesya4 opened #286 "Possible bug with cursor jumping to the end of text / Question"
I need to create a controlled markdown editor that will cause the state update when the text in it changes, and will update its text when the state changes. But when I started doing this, I ran into the problem that the cursor jumps to the end of the text when typing each character. This makes it uncomfortable to type in the middle or at the beginning of text. Does this look like a bug, or am I do

[2020-12-06 08:44] bobbui opened #287 "Support auto expandable for textarea"
Could you please add support for this?
Thanks

[2020-12-07 16:32] nagayev opened #288 "[Quetion] Disable button"
Hello. Thank you for nice library.
Can I disable button with code logo?
I want to use this lib on my website and users aren't coders.

[2020-12-17 00:43] lysender opened #290 "SaveImageHandler - access to mime type and original filename"
The current `SaveImageHandler` function only provides an `ArrayBuffer` which works fine since I can convert them to File blob easily. However, I need to get the mime type and original filename too for the selected file (not pasted image) so that our backend service can identity whether it is an image or a non-image file.

Currently, I have to hard code the mime-type to an image to make it work.

[

[2020-12-31 05:39] JensDebergh opened #291 "Drop to cursor position"
Hi!

I've recently started to update this package to the latest version `11.0.0` coming from `6.7.0`.

Version 6.7.0:

**Video**: https://monosnap.com/file/JwqNcG1tjYSgTqys3Z4dSfrmZfllna

As you can see from the video a user is able to drop the variable to the position of the cursor of their choice inside the react-mde textarea.

Version 11.0.0:

**Video**: https://monosnap.com/file/glYKBW41oMgkJm

[2021-01-13 02:34] polcats opened #292 "Is it possible to execute a command externally?"
Something like executing a command from a function and not from the toolbar buttons?

[2021-01-13 03:04] polcats opened #293 "Disable opening links in preview"
Is this possible?

[2021-01-13 12:36] mmomtchev opened #294 "Simultaneous display of editor and preview"
Is it currently possible to simultaneously display both the editor and the preview, updating the preview as the user types (eventually throttling down update rate)?
If yes, how can I do it, and if no, would you consider a PR with this feature?

[2021-01-13 12:53] mmomtchev commented on #294
Yes, it is possible
pass `disablePreview={true}`
Then add an `onChange` handler rendering in a separate element

[2021-01-13 12:53] #294 closed

[2021-01-14 20:18] mmomtchev opened #297 "SuggestionsDropdown is not compatible with Class components"
`SuggestionsDropdown` uses `useCallback` which makes it incompatible with Class components

What is the added benefit of `useCallback`? Is it really necessary - both callbacks `handleSuggestionClick` and `handleMouseDown` are deep inside the map? One doesn't gain almost anything in terms of performance?

[2021-01-15 15:07] mmomtchev opened #299 "autoplacement of the suggestions popover"
Currently the suggestions popover can be clipped by the viewport when the editor is close to the bottom of the document.

Add an option to autoplace it.

[2021-01-17 00:06] andrerpena commented on #297
Thanks for submitting the PR. This has been published on 11.0.5

[2021-01-17 00:06] #297 closed

[2021-01-18 13:55] humont commented on #273
You can add your own header buttons to replace the original one.

[code]

[code]

[code]

[2021-01-18 13:59] humont commented on #181
you don't need to run `commands
          .getDefaultCommands()
          .concat([{ commands: [videoCommand] }])}`

as the component automatically adds all the default ones. Just add your custom comands.

[code]

[2021-01-25 12:02] YoRolling commented on #190
Maybe you should return a promise in `generateMarkdownPreview`.

[2021-01-29 09:27] mmomtchev commented on #299
closed with #300

[2021-01-29 09:27] #299 closed

[2021-01-31 18:22] Stas-Buzunko commented on #292
yes, you need to use ref
const someref = useRef(null)

<ReactMde
              ref={c => {someref.current = c}}
 />

 then you can trigger different commands using someref.current.handleCommand(someCommand) or using other methods

[2021-02-17 14:54] nikolalsvk commented on #129
Is it possible to do so in the latest version? I am trying to implement the auto-resize feature. The idea is to have the textarea expand and contract when a user types text.

[2021-02-18 09:52] nikolalsvk commented on #129
I managed to do it in 11.0.6 version like so:

[code]

It would be nice if we can update the docs with some of the examples. There is some information about `childProps` prop, but nothing about `refs`. I had to dig into the source code to find it.

I will try to take a stab at updating the docs, it is a very helpful library and good docs would make it even better.

[2021-02-24 15:34] theshivamgupta opened #303 "tab looses focus"
When tab key is pressed in the textarea looses focus...
I tried implementing the same using textArea onkeydown but got an error

[code]
I am new to this project so help would be really helpful

[2021-02-26 18:08] #303 closed

[2021-03-01 22:25] bmueller-sykes opened #304 "minEditorHeight and maxEditorHeight seem misleading"
Doing `maxEditorHeight={300}` sets the height of the `textarea` element to `height="300px"`, which is not the way max/min height are supposed to work.

What I expected was that `minEditorHeight` would set an editor floor height, and `maxEditorHeight` would set a max height, and then the editor itself would grow and shrink based on the content within the text area. Instead, those values appear to j

[2021-03-02 15:55] destroyer22719 opened #305 "This module can't seem to install on react v17"
react version: 17.0.1
react-mde version: latest
![Screenshot from 2021-03-02 10-54-54](https://user-images.githubusercontent.com/65511595/109675405-c56ac200-7b45-11eb-8d62-74dc6aabf694.png)

[2021-03-03 14:59] aleksandarkoprivica commented on #273
Is there a way to put headers in the dropdown menu?

[2021-03-04 13:58] YuYanzy opened #306 "change the default textarea height"
Is there any possible way to change the default textarea height?
I have tried directly adding the css code but not work.

[code]

[2021-03-05 17:08] bmueller-sykes opened #307 "`classes` prop does not appear to override default styles with `!important` tag added."
If I create styles using MaterialUI's makeStyles/createStyles feature, like this:
[code]

...if I want to change the formatting of anything in the preview section, I need to add `!important` to each declaration.

I'm passing in the classes like this:

[code]

[2021-03-10 12:05] jamesdwalker opened #309 "Broken demo link in readme"
Hi,
This link to the demo, at the top of the readme, leads to a blank page. I'm guessing the domain name has expired.
`- [Demo](http://andrerpena.me/react-mde/)`

I clicked on it from the npm page, not wanting to use a CodeSandbox link as it's pretty laggy on my laptop. Could the same code be deployed to Vercel/Firebase etc if andrerpena.me is no longer active?

[2021-03-12 17:27] TerryChan opened #311 "Why there is a blank line? How to remove it?"
After paste complete, there is always a blank line before the yield string. And it will generate a blank line before the image in preview. How to remove it? I don't need it really.
![image](https://user-images.githubusercontent.com/5396286/110975743-17f47b80-839b-11eb-809a-d3c1f4486015.png)

[2021-03-20 14:57] BradyEdgar94 opened #312 "How to add same upload local file functionality to the image button in the command bar"
First, let me say this is an amazing package :)

I have one issue I can't seem to sort out. When the user clicks the image button in the top toolbar, I want it to open the file finder on my computer, just like how it does when I drag & drop or click on the button upload bar. I understand the functionality regarding allowing the user to enter their own URL but for me, I need it to just always be lo

[2021-03-23 01:00] polcats commented on #292
Thank you!

[2021-03-23 01:00] #292 closed

[2021-04-07 07:03] gongalili commented on #305
Have any updates about when react 17 will be supported?  @andrerpena

[2021-04-08 14:37] kmvan commented on #306
[code]

[2021-04-14 13:38] YuYanzy commented on #306
@kmvan But I want the height to be self-adaptive.

[2021-04-14 13:54] kmvan commented on #306
Google `textarea auto grow css` and you will get the answer.

[2021-04-14 13:56] YuYanzy commented on #306
Thanks!

[2021-04-14 14:00] kmvan commented on #306
![Peek 2021-04-14 21-58](https://user-images.githubusercontent.com/3839554/114722725-9f535700-9d6c-11eb-982c-5d1d0c6ca96c.gif)

And works.

[2021-04-14 14:02] YuYanzy commented on #306
Great!

[2021-04-14 14:02] #306 closed

[2021-04-22 11:58] Rendydendimara opened #317 "Automatic Height"
I have a problem writing the text, in short I want to write a long message with a high textarea that will fit the existing text. My question is, How do I make the height of the textarea auto so that I don't get distracted reading long text by scrolling. Thanks

[2021-04-22 15:18] kmvan commented on #317
Have a look: https://github.com/andrerpena/react-mde/issues/306#issuecomment-819541008

[2021-04-22 23:18] kmvan commented on #305
use `--force`

[2021-04-23 03:03] S-Nuttapong commented on #244
- askdlaksd
- asdlkjasd

- asdlmkaskdm

[2021-04-23 06:10] Waingapucoder commented on #317
Thank you friend, very helpful ^_^

[2021-04-28 08:31] #317 closed

[2021-04-28 18:29] rhummelmose commented on #305
@andrerpena ?

[2021-04-29 07:11] nico-w commented on #288
You can define your own toolbar commands by using the `toolbarCommands` prop.
This example will only allow, bold and italic text plus links and images:
[code]

Explanation in docs:

See more here: https://github.com/andrerpena/react-mde#react-mde-props

Hope this helps 😊

[2021-04-29 22:14] andrerpena commented on #305
I'm really sorry. I only now updated to React 17 with 11.4.0

[2021-05-03 15:23] nagayev commented on #288
@nico-w Thanks

[2021-05-03 15:23] #288 closed

[2021-05-04 05:53] rhummelmose commented on #305
@andrerpena the peer dependencies still state React 16. Could you fix?

`➜  duah-web git:(master) ✗ lerna bootstrap
info cli using local version of lerna
lerna notice cli v4.0.0
lerna info Bootstrapping 13 packages
lerna info Installing external dependencies
lerna ERR! npm install --no-package-lock exited 1 in '@duah/admin-react'
lerna ERR! npm install --no-package-lock stderr:
npm ERR! code ERESO

[2021-05-04 08:59] andrerpena commented on #305
My bad. Updated it now. Sorry about that

On Tue, May 4, 2021 at 6:54 AM Rasmus Høhndorf Hummelmose <
***@***.***> wrote:

--
André Rodrigues Pena

[2021-05-04 16:37] rafaelguedes opened #319 "Previewer"

[2021-05-04 16:38] rafaelguedes opened #320 "Preview not working with react-markdown latest version (6.0.1)"
First of all: thanks for this cool editor.

Using `react-markdown` @ 6.0.1 is causing the preview not to work.

Is there any chance that you can fix this?

[2021-05-17 19:43] paescuj commented on #320
With `react-markdown` >=6.0.0 you now need to pass the markdown variable as children:
[code]

[2021-05-22 01:44] janryWang opened #324 "Support Dark Theme"
Could be use cssvar?

[2021-06-06 13:25] jaddoescad commented on #312
Any luck with this?

[2021-06-23 10:55] TGRHavoc opened #326 "Pasting images: returning false doesn't remove text in Firefox"
Firefox version: 89.0.1 (64-bit)

The problem:

When the "saveImage" function returns false (image wasn't uploaded to where ever) then the text `![Uploading Image...]()` doesn't get removed from the textarea.
Tried on Chrome and this behaviour isn't present.

Investigation:
It seems that line 28 of InsertTextAtPosition.ts is to blame.

https://github.com/andrerpena/react-mde/blob/f6d982ae710286b4a

[2021-06-24 10:33] jpresaor commented on #221
Any updates about it?

[2022-05-01 22:41] #255 closed

[2022-05-01 22:41] #256 closed

[2022-05-01 22:41] #258 closed

[2022-05-01 22:41] #267 closed

[2022-05-01 22:41] #269 closed

[2022-05-01 22:41] #273 closed

[2022-05-01 22:41] #275 closed

[2022-05-01 22:41] #276 closed

[2022-05-01 22:41] #277 closed

[2022-05-01 22:41] #280 closed

[2022-05-01 22:41] #286 closed

[2022-05-01 22:41] #287 closed

[2022-05-01 22:41] #290 closed

[2022-05-01 22:41] #291 closed

[2022-05-01 22:41] #293 closed

[2022-05-01 22:41] #304 closed

[2022-05-01 22:41] #305 closed

[2022-05-01 22:41] #307 closed

[2022-05-01 22:41] #309 closed

[2022-05-01 22:41] #311 closed

[2022-05-01 22:41] #312 closed

[2022-05-01 22:41] #319 closed

[2022-05-01 22:41] #320 closed

[2022-05-01 22:41] #324 closed

[2022-05-01 22:41] #326 closed

[2022-05-01 22:42] #129 closed

[2022-05-01 22:42] #131 closed

[2022-05-01 22:42] #135 closed

[2022-05-01 22:42] #152 closed

[2022-05-01 22:42] #153 closed

[2022-05-01 22:42] #156 closed

[2022-05-01 22:42] #162 closed

[2022-05-01 22:42] #189 closed

[2022-05-01 22:42] #190 closed

[2022-05-01 22:42] #207 closed

[2022-05-01 22:42] #210 closed

[2022-05-01 22:42] #217 closed

[2022-05-01 22:42] #219 closed

[2022-05-01 22:42] #221 closed

[2022-05-01 22:42] #226 closed

[2022-05-01 22:42] #228 closed

[2022-05-01 22:42] #233 closed

[2022-05-01 22:42] #242 closed

[2022-05-01 22:42] #244 closed

[2022-05-01 22:42] #247 closed

[2022-05-01 22:42] #249 closed

[2022-05-01 22:42] #250 closed

[2022-05-01 22:42] #251 closed

[2022-05-01 22:42] #253 closed

[2022-05-01 22:42] #254 closed

[2022-05-01 22:42] #13 closed

[2022-05-01 22:42] #107 closed

[2022-05-01 22:42] #124 closed

[2022-05-03 11:11] bytesagar opened #336 "No preview style for mentions"
Can we add preview style for mentions.

[2022-05-04 22:01] andrerpena commented on #336
I'm no longer maintaining version 11.*. I'm now working on the 12.* version which is headless (totally not opininated). I'm closing this issue as I'm no longer leaving 11.* issues

[2022-05-04 22:01] #336 closed

[2022-05-09 19:38] DonHuskini opened #337 "Change default behaviour of headerCommand"
@andrerpena I'd like to know if it's possible to add "##" on the markdown editor instead of "###" which seems to be the default behavior when I call the command headerCommand on v.12.*

[2022-05-10 00:18] gabrielmlinassi commented on #312
Just for reference, this is my solution for V.12.*

[code]

[code]

[2022-05-10 21:31] andrerpena commented on #337
Hello kindred brazilian.
v12 is still far from done, but I just relased this commit https://github.com/andrerpena/react-mde/commit/cae3ee20c35d213118808f0e1779c8852d8fc28d on version 12.0.8@next that actually exports all heading command levels individually. In order to have `##`, just use the `headingLevel2Command`.

This file uses the `headingLevel1Command` but just replace it with `headingLevel2

[2022-05-10 22:53] gabrielmlinassi commented on #337
@andrerpena That's exactly what I needed. Thanks!
BTW, I really enjoyed your decision to make react-mde headless. Looking forward to the new releases.

[2022-05-10 22:53] #337 closed

[2022-05-18 11:00] Ajitesh13 opened #338 "Issue with Previewing markdone in 11.5.0"
For some html statement like `<img src onerror="alert('Hi')">`. When I click on preview, the alert is getting executed in my page itself. Could you please provide the solution on how to address this issue.

[2022-05-18 11:03] Ajitesh13 commented on #338
Do we have a preview button in version 12 ?

[2022-05-20 10:58] assadali007 commented on #305
it does not install

[2022-05-28 00:53] kevinduliepre opened #339 "Issue installing react-mde"
Hello, when I try to install react-mde, it gives me this error

npm ERR! node_modules/react-mde
npm ERR!   react-mde@"*" from the root project
npm ERR!
npm ERR! Fix the upstream dependency conflict, or retry
npm ERR! this command with --force, or --legacy-peer-deps
npm ERR! to accept an incorrect (and potentially broken) dependency resolution.
npm ERR!
npm ERR! See C:\Users\Nivek\AppData\Local\npm

[2022-05-30 14:26] AuboIoT commented on #339
Have you tried --force?

[2022-05-31 14:52] kevinduliepre commented on #339
I tried it with --force and it works, thanks. By the way, how can I get access to the css if I want to change the style(if allowed of course)

[2022-05-31 14:52] kevinduliepre commented on #339
I closed it by mistake

[2022-06-02 14:00] prateek3255 opened #340 "Same images are being provided when trying to upload multiple images"
When trying to upload multiple images the saveImage method returns the first image all the times. Here is a reproducible sandbox with v11.5.0 for it:

https://codesandbox.io/s/react-mde-latest-forked-lzhlxq?file=/src/index.js

To reproduce:
- Try uploading multiple images in the sandbox above
- Check the logs, to see the same image is logged for all cases

[2022-06-07 01:41] sakshichauhan06 commented on #305
it's still not installing

[2022-06-07 03:12] kmvan commented on #305
So I forked and re-code this project ( https://github.com/kmvan/fc-mde ). But remove some features.

[2022-06-16 17:52] tayurus commented on #286
lol, why did you close this issue?

[2022-06-23 02:15] tiammui opened #341 "Element Type error"
![Screenshot of error](https://user-images.githubusercontent.com/48317927/175192492-2798c8bc-e90e-4cd9-9efb-efb175acf9b6.png)

Don't know how to resolve this, i'm new to react
i'm using StackBlitz React Editor

[2022-07-14 11:00] Prakash-karena opened #342 "Underline support not found"
Underline support not found so i have found solution for that so i added this here

https://codesandbox.io/s/react-typescript-forked-ccecgt

const underlineCommand = {
    name: 'underline',
    icon: () => <strong style={{ fontSize: '16px' }}>U</strong>,
    execute: (opts) => {
        if (opts?.initialState?.selectedText) {
            opts.textApi.replaceSelection(
                `<u>${opts?.

[2022-07-14 11:00] #342 closed

[2022-07-20 02:54] lsxmz commented on #339
You can also use Kmvan's forked repository from this project, that version works with npm: [https://github.com/kmvan/fc-mde](url)

[2022-08-01 04:42] fahadm23 commented on #305
this worked for me

[2022-08-09 22:09] jpavelw opened #343 "Dependency error trying to install"
Hi, so I'm trying to install this package and I get the following error

code ERESOLVE
ERESOLVE unable to resolve dependency tree

While resolving: app@0.1.0
Found: react@18.2.0
node_modules/react
react@"^18.2.0" from the root project

Could not resolve dependency:
peer react@"^17.0.0" from react-mde@11.5.0
node_modules/react-mde
 react-mde@"*" from the root project

[2022-08-15 22:24] andrerpena commented on #343
That's because I made the mistake of adding React as a peer dependency of `react-mde` up to version 11.*. I don't think this dependency served any real purpose.

Now, on version 12.*, React is no longer a dependency, but this version is not ready for prod yet :(. I'm sorry @jpavelw

[2022-08-15 22:38] andrerpena commented on #340
Unfortunately. I have almost no time to work on this library and I will be focusing on version 12 now, and it still doesn't support file uploads.

I quickly looked at your problem and it seems that, at least by uploading from the clipboard, the `File` objects seem to have different sizes. The preview is obviously the same because we are always yielding `https://picsum.photos/300`

<img width="1309

[2022-08-15 22:40] andrerpena commented on #339
I'm really sorry I don't have enough time to dedicate to this library :(
This problem is probably related to react-mde 11 depending on React 17. This dependency has been removed on version 12 but I couldnt finish a production version of it yet

[2022-08-15 22:41] andrerpena commented on #338
I'm sorry I'm not having enough time to work on react-mde lately.
Version 12 is not supposed to have a preview button because it's headless. It has no UI